/* 320 + */
.b-input {
    &__input-field {
        font-size: 12px;

        &--price {
            // width: 35%;
        }

        &--pick-city {
            margin-bottom: 0;
        }

        &--add-review {
            line-height: 37px;
        }
    }

    &--login {
        margin-bottom: 10px;

        // &.b-input--login-recovery {
        //     margin-bottom: 20px;
        // }
    }

    &--recall-popup {
        &.last {
            margin-bottom: 20px;
        }
    }

    &--promo-code {
        width: 50%;
    }

    &--reservation-popup {
        height: 35px;
    }
}