/* 1440 + */
.b-social {
    padding-top: 17px;

    &__link {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 13px;
        }
    }

    &--buy-cheaper,
    &--for-one-click,
    .b-footer__icons & {
        padding: 0;
    }
}