/* 768 + */
.b-vacancy {
    padding: 35px 0 38px;

    &--payment {
        padding: 44px 0 28px;
    }

    &__info-text {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 23px;

        &--payment {
            margin-bottom: 44px;
        }
    }

    &__accordion {
        margin: 0 -15px 25px;

        &--payment {
            margin: 0 -20px 25px;
        }
    }
}