/* 320 + */
.b-vacancy {
    padding: 27px 0 28px;

    &--payment {
        padding: 27px 0 22px
    }

    &__info-text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 23px;

        &--payment {
            margin-bottom: 27px;
        }
    }

    &__accordion {
        // margin: 0 -15px 25px;
    }
}