/* 1440 + */
.b-vacancy {
    padding: 46px 0 28px;

    &__info-text {
        font-size: 22px;
        line-height: 30px;
        max-width: 1001px;
        margin-bottom: 26px;

        p {
            margin: 0;
        }
    }

    &__accordion {
        margin-bottom: 23px;
    }
}