/* 320 + */
.b-buy-in-shop-popup {
    padding: 50px 20px;
    max-width: 100%;

    &__row--shop-info {
        flex-flow: column;
    }

    &__column--filter {
        width: 100%;
        margin-right: 0;
    }

    &__shop-info {
        margin-bottom: 10px;
    }

    &__metro-wrap {
        flex-direction: column;
        margin-bottom: 0;
    }

    &__metro-point {
        width: 100%;
    }
}