/* 1440 + */
.b-buy-in-shop-popup {
    position: relative;
    width: 100%;
    max-width: 770px;
    border-radius: 0px;
    padding: 30px 35px;
    background-color: #fff;

    color: rgb(85, 84, 84);
    // font-size: 0;
    &__row {
        &--shop-info {
            // font-size: 0;
            display: flex;
            flex-flow: row nowrap;
            // justify-content: space-between;
            margin-bottom: 20px;
        }
        &--phone {
            text-align: center;
            margin-bottom: 12px;
        }
    }
    &__column {
        display: inline-block;
        font-size: 14px;
        line-height: 1.571;

        &--filter {
            width: 380px;
            margin-right: 30px;
        }
    }

    &__shop-info {

    }
    &__metro-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 35px;
    }
    &__metro-point {
        width: 50%;
    }
    &__addr {

    }

    &__link {
        .roboto-bold;
        color: rgb(85, 84, 84);   
        font-size: 22px;
    }
}