/* 1440 + */
.b-list-of-products {
    position: relative;
    height: 365px;
    white-space: nowrap;
    font-size: 0;
    padding: 0;


    &--cart {
        height: 395px;
        // height: auto;
    }

    & .slick-list.draggable {
        overflow: hidden;
    }
}