/* 768 + */
.b-list-of-products {
    // overflow-x: auto;
    // overflow-y: hidden;
    // overflow: hidden;
    margin: 0 -20px;
    padding: 0 20px;
    height: 310px;

    .js-basket & {
        height: 340px;
    }

    &--cart {
        // height: auto;
        // margin: 0 -40px;
        height: 340px;
    }

    &--brand {
        margin-bottom: 40px;
    }
}