/* 768 + */
.b-list-check {
    height: 100%;
    overflow: hidden;
    &__list {
        height: auto;
        .b-pvz-popup__column--left & {
            height: calc(~'100% - 20px');
        }
    }

    &__description-block {
        padding-right: 170px;
    }
}