/* 320 + */
.b-list-check {
    &__title {
        font-size: 14px;
    }

    &__description-block {
        padding: 0;
    }

    &__item {
        padding: 11px 0 12px;
        cursor: pointer;
    }

    &__description {
        letter-spacing: 0.2px;
        line-height: 1.4;
    }

    &__list {
        .b-pvz-popup__column--left & {
            overflow-y: auto;
        }
    }
}