/* 768 + */
.b-product-top {
    margin: 18px -20px 0;
    padding-bottom: 33px;

    &__slider {
        width: 100%;
        border-bottom: 1px solid @cl-section-gray;
        margin-bottom: 28px;
        padding: 0 20px 28px;
    }

    &__info {
        width: 100%;
        padding: 0 20px;
    }

    &__basic-info {
        width: 48%;
        padding: 0 48px 0 0;
    }

    &__other-info {
        width: 52%;
        padding-left: 52px;
        padding-right: 22px;
    }

    &__icon-block {
        top: 75px;
        right: 27px;
    }

    &__vendor-code {
        padding-bottom: 16px;
        margin-bottom: 25px;
    }

    &__open {
        bottom: 14px;
        right: 13px;
    }

    &__tablet-brand {
        position: absolute;
        top: 0;
        right: 20px;
    }

    &__review-info {
        margin-bottom: 9px;
    }

    &__review {
        display: inline-block;
    }

    &__wrapper-image {
        margin: 0 20px 0 0;
    }

    &__zoom {
        bottom: 28px;
        right: 17px;
    }

    &__label {
        left: 25px;
    }
}