/* 1170 + */
.b-product-top {
    padding-bottom: 41px;

    &--hidden-slider {
        padding-bottom: 3px;
    }

    &__slider {
        width: 42%;
    }

    &__info {
        width: 58%;
        padding-left: 0;
    }

    &__open {
        bottom: 48px;
    }

    &__basic-info,
    &__other-info {
        width: 50%;
    }

    &__label {
        left: 12px;
    }

    &__zoom {
        bottom: 88px;
    }
}