/* 320 + */
.b-product-top {
    margin: 18px 0 0;

    &__slider,
    &__info,
    &__basic-info,
    &__other-info {
        width: 100%;
    }

    &__slider {
        border: 0;
        padding: 20px 0 0;
        margin-bottom: 39px;
    }

    &__info {
        padding: 0;
    }

    &__basic-info {
        border: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    &__other-info {
        padding: 0;
    }

    &__characteristic {
        margin-bottom: 29px;

        &:last-child {
            margin-bottom: 0;
        }

        &--price {
            order:0;
        }
        &--size {
            order: 3;
        }
        &--color {
            order: 2;
        }
        &--not-availability {
            order: 4;
        }

        &--availability {
            order: 5;
        }

        &--available {
            margin-bottom: 0;
        }
    }

    &__one-click,
    &__subscribe-price {
        display: none;
    }

    &__title-characteristic {
        font-size: 12px;
        line-height: 14px;
    }


    &__open {
        display: none;
    }

    &__icon-block {
        right: 4px;
        top: 23px;
    }

    &__wrapper-image {
        margin: 0 8px 0 0;
    }

    &__review-info {
        margin-bottom: 17px;
    }

    &__vendor-code,
    &__wrapper-center {
        border: 0;
        padding: 0;
    }

    &__tablet-brand {
        top: -22px;
        right: 0px;
    }

    &__mobile-delivery {
        margin-top: 29px;
    }

    &__label {
        left: 0;
    }

    &__zoom {
        display: none;
        bottom: 0;
        right: -10px;
    }
}