/* 320 + */
// авто в шапке
// .b-form-inline__autocomplete-wrapper--search {
//     .autocomplete-suggestions {
//         max-height: 85vh!important;
//     }
//     .autocomplete-suggestion {
//         padding: 3px 0;
//     }
//     .autocomplete-selected {
//     }
// }

// Блок поиска города
.b-city-selection__autocomplete-wrapper {
    .autocomplete-suggestions {
        padding: 15px 15px;
        border: none;
        box-shadow: none;
        height: 100%;
        touch-action: auto;
        pointer-events: auto;
    }

    .autocomplete-suggestion {
        padding: 7px 0;
    }

    .autocomplete-selected {
        // background-color: @button-main-back;
        // color: @cl-font-white;
    }
}