/* 320 + */
.b-goto {
    margin-bottom: 9px;
    padding-top: 47px;

    &__image-block {
        margin: 0 auto 24px;
        width: 290px;
    }

    &__header {
        display: block;
        font-size: 58px;
        line-height: 42px;
        margin: 0;
        padding-left: 29px;
        right: 0;
        text-align: left;
    }

    &__land {
        display: block;
        height: 102px;
        left: 0;
        padding-right: 30px;
        text-align: right;
        top: -11px;
    }

    &__land-image {
        max-height: 100%;
    }

    &__best {
        font-size: 14px;
        line-height: 24px;
        padding: 0 10px;
        width: 100%;

        & > span {
            display: block;
        }
    }
}