/* 1440 + */
.b-goto {
    margin-bottom: 37px;
    padding-top: 80px;
    text-align: center;

    &__header {
        .gotham-black;
        color: @goto-header;
        display: inline-block;
        font-size: 110px;
        line-height: 81px;
        margin-bottom: 16px;
        position: relative;
        right: -39px;
        vertical-align: top;
    }

    &__land {
        display: inline-block;
        left: -20px;
        position: relative;
        vertical-align: top;
    }

    &__image-block {
        margin: 0 0 16px;
    }

    &__best {
        font-size: 22px;
        line-height: 30px;
        margin: 0 auto;
        width: 640px;
    }
}