/* 1440 + */
.b-range {
    margin-bottom: 30px;

    &__price-block {
        display: flex;
        // justify-content: space-between;
        justify-content: flex-start;
        margin-bottom: 12px;
    }

    &__line {
        position: relative;
    }

    &__line-input {
        font-size: 13px;
        line-height: 35px;
        color: @cl-font-gray;
        margin: 0 6px 0 0;

        &:last-child {
            margin: 0 18px 0 0;
        }
    }

    &--choice-suitcase {
        margin-bottom: 44px;
    }

    &--filter-pop-up {
        width: 300px;
        margin-bottom: 38px;
    }
}