/* 1440 + */
.b-your-city-popup {
    position: relative;
    width: 530px;
    border-radius: 2px;
    padding: 40px;
    background-color: @background-header;

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}