/* 320 + */
.b-slider-arrow {
    &--main-next,
    &--main-prev {
        display: none;
    }

    &--product {
        display: none;
    }

    &--buy-set {
        display: none!important;
    }

    &--brand-prev,
    &--brand-next {
        display: none;
    }
}