/* 768 + */
.b-promo {
    width: 200px;
    right: 0;
    left: 0;
    top: 50%;
    margin: -145px auto auto;

    &:after {
        border-right: 100px solid transparent;
        border-left: 100px solid transparent;
    }

    &__bigtext {
        font-size: 13px;

        &--button {
            padding: 10px 16px;
            margin-top: 10px;
        }

        &--bottom {
            margin-bottom: 10px;
        }
    }

    &__smalltext {

        &--bottom {
            margin-bottom: 10px;
        }
    }
}