/* 1024 + */
.b-info-nav {
    margin-right: 6px;

    &__inner {
        width: 189px;
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
    }

        &__inner:not(:first-child) {
        padding-left: 0px;
    }

    &__item {
        padding: 5px 0px;
    }
}