/* 768 + */
.b-info-nav {
    padding-right: 12px;

    &__inner:not(:first-child) {
        padding-left: 0px;
    }

    &__inner {
        width: 134px;
    }

    &__social {
        display: inline-block;
        vertical-align: top;
    }

    &__pay {
        display: inline-block;
        vertical-align: top;
    }
}


