/* 1170 + */
.b-promo-code {

    &-form {
        &__label {
            width: ~"calc(100% - 70px)";
        }

        & .b-input__input-field {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }

        & .b-button {
            min-width: auto;
            padding-left: 7px;
            padding-right: 7px;
            font-size: 14px;
        }
    }
}
