/* 320 + */
.b-promo-code {

    &-form {
        &__title {
            margin-bottom: 4px;
        }

        &__box {
            margin-top: 16px;
        }

        &--order {
            display: block;
            width: auto;
            padding: 15px;
            margin: 0 -15px 20px;
        }

        &--basket {
            padding: 15px;
        }
    }
}