/* 1440 + */
.b-product-shops {

    &__title {
        font-size: 15px;
        line-height: 21px;
        color: @cl-font-main;
        margin-bottom: 20px;
    }

    &__item {
        display: flex;
        margin-bottom: 18px;
    }

    &__name {
        font-size: 13px;
        line-height: 17px;
        color: @cl-font-main;
    }

    &__icon {
        width: 17px;
        font-size: 19px;
        line-height: 15px;
        margin-right: 10px;
        color: @cl-bright-green
    }

    &__data {
        width: ~"calc(100% - 30px)";
    }

    &__address,
    &__mode {
        font-size: 13px;
        line-height: 17px;
        color: #7D7D7D;
    }

    &__more {
        display: flex;
        align-items: center;
    }

    &__location {
        font-size: 28px;
        line-height: .8;
        margin-right: 10px;
        color: @cl-bright-green
    }

    &__text {
        font-size: 15px;
        line-height: 21px;
        color: @cl-font-main;
    }
}