/* 1440 + */
.b-requisites {

    &__list {
        padding: 0;
        display: inline-block;
    }

    &__item {
        list-style-type: none;
        border-bottom: 1px dotted #ccc;
        padding: 10px 0;
    }

    &__name,
    &__information {
        display: inline-block;
        vertical-align: top;
    }

    &__name {
        width: 250px;
    }
}