/* 768 + */
.b-whyrobinzon {
    overflow: hidden;
    margin: 0 -20px;

    &__content {
        width: 940px;
    }

    &__item:first-child {
        margin-left: 20px;
    }

    &__item:last-child {
        margin-right: 20px;
    }

    &__item-figure {
        padding-right: 14px;
        padding-left: 18px;
    }

    &__figure-image {
        width: 72px;
        height: 72px;
        margin-bottom: 11px;
    }
}