/* 1440 + */
.b-whyrobinzon {

    &__content {
        padding: 0;
        display: flex;
    }

    &__item {
        width: 20%;
        border-left: 1px solid @whyrobinzon-border;
        list-style: none;

        &:last-child {
            border-right: 1px solid @whyrobinzon-border;
        }
    }

    &__item-figure {
        margin: 0;
        padding-left: 22px;
        padding-right: 18px;
    }

    &__figure-image {
        width: 110px;
        height: 110px;
        margin-bottom: 14px;
        display: block;
        border-radius: 50%;
        overflow: hidden;
    }

    &__image-content {
        height: 100%;
        object-fit: contain;
        font-family: 'object-fit: contain;';
    }

    &__figure-description {
        font-size: 16px;
        line-height: 24px;
        .roboto-regular;
    }

    &__description-content {
        margin: 0;
    }
}