/* 320 + */
.b-article-preview {
    width: 240px;
    white-space: normal;

    &__image-wrapper {
        height: 160px;
    }

    &__figcaption {
        padding: 10px 5px 5px;
        height: 70px;
    }
}