/* 320 + */
.b-recall-popup {
    width: 100%;
    padding: 15px 15px 25px;

    &_img {
        width: 89px;
    }

    &__row {
        &--form {
            flex-wrap: wrap;
        }

        &--desktop {
            display: none;
        }
        &--mobile {
            display: block;
        }
    }

    &__column {
        &--name,
        &--phone {
            width: 100%;
            margin: 0 0 10px;
        }
    }

    &__add-text {
        &--mobile-show {
            display: block;
        }

        &--reservation-popup {
            padding: 0;
            width: 100%;
        }
    }

    &__phone {
        display: block;
    }

    &__link-phone {
        display: inline-block;
    }

    &--in-shop {
        padding: 0;
    }
}