/* 1440 + */
.b-ya-market {
    margin: auto 65px auto auto;

    &__link {
        display: inline-block;

        &.active {
            color: @cl-orange-dark;
        }
    }

    &__img {
        vertical-align: middle;
    }
}