/* 768 + */
.b-accordion-vacancy {
    &__hidden {
        padding: 15px 15px;

        &--payment {
            font-size: 13px;
            line-height: 18px;
            padding: 0 0 23px 70px;

            & > p {
                margin: 0 0 18px;
            }
        }
    }

    &__title {
        font-size: 16px;
    }

    &__text,
    &__title-text,
    ul {
        font-size: 13px;
        line-height: 18px;
    }

    &__text,
    ul {
        margin-bottom: 18px;
    }

    &__link {
        padding: 12px 14px;
    }

    ul {
        li {
            &:before {
                top: 6px;
                width: 3px;
                height: 3px;
            }
        }
    }

    ol {
        margin: 0 0 18px;
    }

    &__footer {
        margin: -8px 0 0;
    }
}