/* 320 + */
.b-accordion-vacancy {
    &__group {
        padding: 25px 20px;
    }

    &__title {
        font-size: 15px;
        line-height: 18px;
    }

    &__count {
        font-size: 15px;
        height: 30px;
        line-height: 28px;
        width: 30px;
    }

    &__head {
        width: ~'calc(100% - 50px)';
    }

    &__hidden {
        &--payment {
            padding: 0 20px 23px 20px;
        }
    }
}