ymaps.ymaps-2-1-56-balloon__content ymaps {
    width: 100% !important;
}

.ymaps-2-1-56-balloon {
    // top: -412px !important;
    // left: -185px !important;
    width: 270px !important;

    // &__close {
    //     display: none;
    // }


    &__content {
        margin-right: 12px !important;
    }

    .b-tab-delivery-map--order & {
        display: none !important;
    }
}

