/* 320 + */
.b-main-slide {
    height: 215px;

    &__slider-background {
        display: none;

        &--mobile {
            display: block;
        }
    }

    &__background {
        &--mobile {
            display: block;
        }
    }

    &__content {
        padding: 40px 15px 15px;
    }

    &__heading {
        font-size: 20px;
    }

    &__sub-heading {
        font-size: 20px;
        margin: 0 auto;
        width: 210px;
        margin-bottom: 10px;
    }

    &__title-link {
        display: block;
        font-size: 11px;
    }
}