/* 768 + */
.b-main-slide {
    height: 350px;

    &__slider-background {
        display: none;

        &--tablet {
            display: block;
        }
    }

    &__content {
        padding: 55px 20px 20px;
    }

    &__heading {
        font-size: 30px;
    }

    &__sub-heading {
        font-size: 30px;
    }

    &__title-link {
        font-size: 15px;
    }
}