/* 320 + */
.b-filter-color {
    max-height: 550px;

    &--map-card,
    &--buy-cheaper,
    &--for-one-click {
        max-height: none;
        padding: 0;
    }

    &__item {
        height: 28px;
        width: 100%;

        &--map-card,
        &--buy-cheaper,
        &--for-one-click {
            width: auto;
            height: 38px;
        }
    }
}