/* 1440 + */
.b-select-color {
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    &--product-card {
        margin-left: -2px;
    }

    &--product-item {
        justify-content: center;
        margin-bottom: 7px;
        position: relative;
        z-index: 3;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;//auto;
        text-align: center;
        width: 146px;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__item {
        border-radius: 100%;
        width: 38px;
        height: 38px;
        padding: 2px;
        display: inline-block;
        // border: 2px solid transparent;

        &--product-card {
            margin-right: 5px;
        }

        &--product-item {
            width: 21px;
            height: 21px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0 auto;

        &:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: calc(~'100% - 2px');
            height: calc(~'100% - 2px');
            border: 1px solid @cl-light-gray;
            border-radius: 100%;
            z-index: 1;
        }

        &.js-catalog-add-color {
            &:before {
                border-width: 2px;
            }
        }


        &:after {
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            opacity: 0;
            border: 1px solid @cl-main-ginger;
            transition: opacity .3s;
        }

        &.active {
            &:after {
                opacity: 1;
            }
        }

        &--add-color {
            &:after,
            &:before {
                display: none;
            }
        }
    }

    &__color {
        display: block;
        position: relative;
        z-index: 2;
        border-radius: 100%;
        width: calc(~'100% - 2px');
        height: calc(~'100% - 2px');
        margin: 0 auto;
    }

    &__image {
        width: calc(~'100% - 2px');
        height: calc(~'100% - 2px');
        position: relative;
        z-index: 2;
        border-radius: 100%;
        object-fit: cover;
        font-family: "object-fit: cover;";
        background-color: @cl-white;
    }

    &__add-color {
        // border: 2px solid @cl-gray;
        border-radius: 100%;
        display: block;
        height: 17px;
        position: relative;
        width: 17px;

        &:before,
        &:after {
            background: @cl-gray;
            content: '';
            height: 9px;
            left: 8px;
            position: absolute;
            top: 5px;
            width: 2px;
        }

        &:before {
            transform: rotate(90deg);
        }

        &:after {
            transform: rotate(180deg);
        }
    }
}