/* 1170 + */
.b-tab {
    padding-top: 2px;

    &__tab-nav-list {
        &--card {
            width: 1140px;
        }
    }

    &--recommended-tab {
        padding-top: 55px;
    }

    &--recommended-goods {
        padding-top: 18px;
    }
}