/* 768 + */
.b-choice-suitcase {
    padding-top: 23px;

    &__section {
        margin-bottom: 6px;

        &--big-column {
            width: 205px;
        }

        &--small-column {
            width: 95px;
        }

        &--material {
            width: 308px;
        }
    }
}