/* 320 + */
.b-choice-suitcase {
    border: none;
    padding: 0;

    &__section {
        margin-bottom: 5px;

        &--big-column {
            width: 202px;
        }

        &--small-column {
            width: 95px;
            margin-right: -7px;
        }

        &--material {
            width: 288px;
        }
    }
}