/* 1440 + */
.b-choice-suitcase {
    width: 100%;
    height: 100%;
    border: 2px solid orange;
    padding: 23px 18px 30px;
    font-size: 0;

    &__section {
        vertical-align: top;
        margin-bottom: 7px;

        &--big-column {
            display: inline-block;
            width: 210px;
        }

        &--small-column {
            display: inline-block;
            width: 95px;
        }

        &--material {
            width: 254px;
        }
    }
}