//- ====================
//- Project: corp
//- 17-07-2018: sashakasha
//- --------------------
//- Корпоративным клиентам
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'corp';

//- Модифицируем head
block head
    - var pageTitle = 'Корпоративным клиентам';

//- Выводим попапы
block popup

//- Выводим content
block content
    .b-container
        include section/ui-kit/breadcrumbs.pug
        +breadcrumbs('Главная', 'Корпоративным клиентам').--catalog
        include section/ui-kit/title.pug
        +title('h1', 'Корпоративным клиентам').--brand

    +b('section').section.--white.--corp
        +b.corp
            .b-container
                +e.text
                    p Для представителей крупных компаний интернет-магазин Робинзон.ру предлагает особые условия приобретения корпоративных подарков, сувениров и&nbsp;промо-материалов. Наши специалисты работают в&nbsp;сфере багажа и&nbsp;кожгалантереи не&nbsp;один год, а&nbsp;ассортимент насчитывает более 6,5 тысяч наименований. Вам будет из&nbsp;чего выбрать!
                    p Более того, менеджеры Робинзон.ру, отлично ориентируясь в&nbsp;ассортименте, подберут продукцию в&nbsp;нужных корпоративных цветах, размерах и&nbsp;стиле.
                    p Среди множества брендов, представленных на&nbsp;сайте Robinzon.ru, наибольшей популярностью пользуются: Samsonite, Rimowa, Roncato, American Tourister, Ricardo, Heys, Wenger, Delsey, Dakine, Kipling, Radley и&nbsp;другие.

                h2 Корпоративные подарки для мужчин
                ul
                    li чемоданы и&nbsp;дорожные сумки
                    li портпледы
                    li мобильные офисы
                    li итальянские ремни из&nbsp;качественной кожи
                    li высококачественные зонты
                    li деловые рюкзаки
                    li сумки для ноутбука

                h2 Корпоративные подарки для женщин
                ul
                    li чемоданы и&nbsp;дорожные сумки
                    li изящные косметички
                    li элегантные портмоне
                    li красочные зонты
                    li вместительные дорожные бьюти-кейсы
                    li стильные женские рюкзаки

                +e.text
                    p Напишите нам!
                        a(href='mailto:contact@robinzon.ru', title='contact@robinzon.ru') contact@robinzon.ru
                    p Наши специалисты свяжутся с&nbsp;вами максимально быстро!
                    p Не&nbsp;хотите ждать? Тогда позвоните по&nbsp;телефону
                        a(href='84956486988', title='8 (495) 648-69-88') 8 (495) 648-69-88