//- ====================
//- Project: info
//- 00-00-2017:
//- --------------------
//- ПОлезная информация
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'info';

//- Модифицируем head
block head
    - var pageTitle = 'Полезная информация';

//- Выводим попапы
block popup

//- Выводим content
block content
    .b-container
        include section/ui-kit/breadcrumbs.pug
        +breadcrumbs('Главная', 'Полезная информация').--catalog
        include section/ui-kit/title.pug
        +title('h1', 'Полезная информация').--brand
    +b('section').section.--gray.--brand
        +b.news
            .b-container
                +e.list.--info
                    include section/news-item.pug
                    +news-item("images/content/news-1.jpg", false, "Что еще пригодится в путешествии?", "", "", 'Почти все любят путешествовать. А путешествовать с комфортом любят абсолютно все! Но, к сожалению, это не всегда получается то неудобно спать, то мешают внешние факторы и дальше больше текста', 'Читать далее').--info
                    +news-item("images/content/news-1.jpg", false, "Что такое портплед или как перевезти костюм, чтобы он не помялся?", "", "", 'Часто при сборе в деловую поездку или путешествие возникает вопрос о том, как довезти ту или иную вещь гардероба, не помяв ее', 'Читать далее').--info
                    +news-item("images/content/news-1.jpg", false, "Ручная кладь. Что можно и чего нельзя.", "", "", 'Отправляясь в непродолжительное путешествие или в командировку порой не хочется сдавать вещи в багаж: вещей не много, вдруг что-то в самолете даже понадобится, да и лишний раз ...', 'Читать далее').--info
                    +news-item("images/content/news-1.jpg", false, "Что еще пригодится в путешествии?", "", "", 'Почти все любят путешествовать. А путешествовать с комфортом любят абсолютно все! Но, к сожалению, это не всегда получается то неудобно спать, то мешают внешние факторы и дальше больше текста', 'Читать далее').--info
                    +news-item("images/content/news-1.jpg", false, "Что такое портплед или как перевезти костюм, чтобы он не помялся?", "", "", 'Часто при сборе в деловую поездку или путешествие возникает вопрос о том, как довезти ту или иную вещь гардероба, не помяв ее', 'Читать далее').--info
                    +news-item("images/content/news-1.jpg", false, "Ручная кладь. Что можно и чего нельзя.", "", "", 'Отправляясь в непродолжительное путешествие или в командировку порой не хочется сдавать вещи в багаж: вещей не много, вдруг что-то в самолете даже понадобится, да и лишний раз ...', 'Читать далее').--info
                +e.add-more
                    include section/ui-kit/button.pug
                    +button('Показать еще', '', true).--more-item.js-add-news

                include section/ui-kit/pagination.pug
                +pagination({'items': [{
                    'number': '1'
                    }, {
                        'number': '2'
                    }, {
                        'number': '3'
                    }, {
                        'number': 'dots'
                    }, {
                        'number': '5'
                    }]}, {
                    'hidePrev': '-hide',
                    'active': '0'
                })