//- ====================
//- Project: news
//- 00-00-2017:
//- --------------------
//- Страница Пресса о нас
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'news';

//- Модифицируем head
block head
    - var pageTitle = 'Пресса о нас';

//- Выводим попапы
block popup

//- Выводим content
block content
    .b-container
        include section/ui-kit/breadcrumbs.pug
        +breadcrumbs('Главная', 'Пресса о нас').--catalog
        include section/ui-kit/title.pug
        +title('h1', 'Пресса о нас').--brand
    +b('section').section.--gray.--brand
        +b.news
            .b-container
                +e.list
                    include section/news-item.pug
                    +news-item("images/content/news-1.jpg", true, "Тестируем чемоданы на прочность!", "Телеканал «НТВ»", "12 августа 2018", 'Программа НТВ "Чудо техники" и Робинзон.ру тестируют чемоданы на прочность!', 'Подробнее')
                    +news-item("", false, "Пакуем вещи", "Телеканал «НТВ»", "12 августа 2018", 'Наконец-то отпуск! Осталось собрать вещи и можно отправляться в путь. Но стоит задуматься, в чем ваши вещи поедут на отдых. Правильно выбрать чемодан — дело непростое. "Московские новости" поговорили с Александром Соколовым, старшим менеджером по продажам компании "Робинзон.ру", и выяснили самые главные критерии при выборе чемодана. Ткань пачкается, плохо очищается, чемодан может порваться в поездке и не очень долговечен. Да и содержимое он защищает не очень хорошо, бьющиеся вещи в нем везти опасно. Современные ткани имеют специальные влагозащитные материалы, способные не пропускать и тут больше текста должно быть', 'Подробнее').--big
                    +news-item("images/content/news-1.jpg", false, "Лучшие чемоданы для…", "Телеканал «НТВ»", "12 августа 2018", 'Отправляясь в непродолжительное путешествие или в командировку порой не хочется сдавать вещи в багаж и тут тоже больше текста должно быть', 'Подробнее')
                    +news-item("images/content/news-1.jpg", true, "Тестируем чемоданы на прочность!", "Телеканал «НТВ»", "12 августа 2018", 'Программа НТВ "Чудо техники" и Робинзон.ру тестируют чемоданы на прочность!', 'Подробнее')
                    +news-item("", false, "Пакуем вещи", "Телеканал «НТВ»", "12 августа 2018", 'Наконец-то отпуск! Осталось собрать вещи и можно отправляться в путь. Но стоит задуматься, в чем ваши вещи поедут на отдых. Правильно выбрать чемодан — дело непростое. "Московские новости" поговорили с Александром Соколовым, старшим менеджером по продажам компании "Робинзон.ру", и выяснили самые главные критерии при выборе чемодана. Ткань пачкается, плохо очищается, чемодан может порваться в поездке и не очень долговечен. Да и содержимое он защищает не очень хорошо, бьющиеся вещи в нем везти опасно. Современные ткани имеют специальные влагозащитные материалы, способные не пропускать и тут больше текста должно быть', 'Подробнее').--big
                    +news-item("images/content/news-1.jpg", false, "Лучшие чемоданы для…", "Телеканал «НТВ»", "12 августа 2018", 'Отправляясь в непродолжительное путешествие или в командировку порой не хочется сдавать вещи в багаж и тут тоже больше текста должно быть', 'Подробнее')
                +e.add-more
                    include section/ui-kit/button.pug
                    +button('Показать еще', '', true).--more-item.js-add-news

                include section/ui-kit/pagination.pug
                +pagination({'items': [{
                    'number': '1'
                    }, {
                        'number': '2'
                    }, {
                        'number': '3'
                    }, {
                        'number': 'dots'
                    }, {
                        'number': '5'
                    }]}, {
                    'hidePrev': '-hide',
                    'active': '0'
                })