//- ====================
//- Project: payment
//- 18-07-2018: sashakasha
//- --------------------
//- Главная страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'payment';

//- Модифицируем head
block head
    - var pageTitle = 'Оплата';

//- Выводим попапы
block popup

//- Выводим content
block content
    .b-container
        include section/ui-kit/breadcrumbs.pug
        +breadcrumbs('Главная', 'Оплата').--catalog
        include section/ui-kit/title.pug
        +title('h1', 'Оплата').--brand

    +b('section').section.--white.--payment
        +b.vacancy.--payment
            .b-container
                +e.info-text.--payment
                    p Свои покупки&nbsp;Вы можете оплатить любым удобным Вам способом:

                +e.accordion.--payment
                    +b.accordion-vacancy.--payment.js-accordion-vacancy
                        +e.visible.--payment.js-visible-vacancy
                            +e.group.--cursor-default.js-open-vacancy
                                +e('span').count 1
                                +e.head
                                    +e.title.--payment
                                        | Наличными курьеру
                        +e.hidden.--payment.js-hidden-vacancy
                            p Оплата банковской картой осуществляется на&nbsp;защищенной странице ПАО &laquo;Сбербанк&raquo;. При оформлении заказа укажите способ оплаты &laquo;Банковской картой на&nbsp;сайте&raquo;. Обязательно укажите адрес электронной почты, на&nbsp;который будет отправлено письмо с&nbsp;ссылкой на&nbsp;оплату.
                            p Оплата осуществляется на&nbsp;защищенной странице ПАО &laquo;Сбербанк&raquo;, после оформления и&nbsp;подтверждения заказа. Наш интернет-магазин не&nbsp;знает и&nbsp;не&nbsp;хранит данных по&nbsp;вашей пластиковой карте. При аннулировании позиций из&nbsp;заказа (или при аннулировании заказа целиком) и&nbsp;способе оплаты банковской картой на&nbsp;сайте возврат денежных средств осуществляется в&nbsp;течение четырнадцати рабочих дней, только на&nbsp;банковскую карту клиента, указанную в&nbsp;заказе.
                            p
                                | Для возврата денежных средств Вам необходимо выслать запрос с&nbsp;темой &laquo;Возврат&raquo; на&nbsp;электронный адрес 
                                a(href='mailto:order@robinzon.ru' title='') order@robinzon.ru
                            p Для онлайн-оплаты можно использовать банковские карты Visa, Visa Electron, MasterCard и&nbsp;Maestro. Ввод и&nbsp;обработка платежных данных производится на&nbsp;стороне ПАО &laquo;Сбербанк&raquo;. Введенные покупателем данные банковской карты надежно защищены и&nbsp;передаются в&nbsp;зашифрованном с&nbsp;помощью криптографического протокола TLS виде, что гарантирует полную безопасность денежных средств и&nbsp;персональных данных.

                            p Для оплаты банковской картой необходимо заполнить короткую платежную форму:

                            ol
                                li выбрать тип платёжной системы (Visa, MasterCard);
                                li указать номер карты (16&nbsp;цифр на&nbsp;лицевой стороне карты);
                                li ввести CVC&nbsp;/ CVV номер (3&nbsp;цифры, которые напечатаны на&nbsp;обратной стороне карты, на&nbsp;полосе с&nbsp;подписью);
                                li имя и&nbsp;фамилию владельца карты (в&nbsp;точности так&nbsp;же, как они написаны на&nbsp;лицевой стороне карты);
                                li срок действия карты, который написан на&nbsp;лицевой стороне карты.

                            p
                                | После успешного прохождения оплаты на&nbsp;электронную почту плательщика направляется электронный чек, подтверждающий совершение платежа и&nbsp;содержащий его уникальный идентификатор. При оплате заказа банковской картой из&nbsp;стран СНГ возможность и&nbsp;условия доставки уточняйте у&nbsp;менеджера по&nbsp;тел. 
                                a(href='tel:88005553285' title='') 8-800-555-32-85 
                                | или 
                                a(href='mailto:order@robinzon.ru' title='') email: order@robinzon.ru

                            +e.footer
                                +b('a').link(href='javascript:void(0);' title='').--underline-dot.--payment.js-close-accordion Свернуть

                    +b.accordion-vacancy.--payment.js-accordion-vacancy
                        +e.visible.--payment.js-visible-vacancy
                            +e.group.--cursor-default.js-open-vacancy
                                +e('span').count 2
                                +e.head
                                    +e.title
                                        | Наличными в 
                                        +b('a').link(href='javascript:void(0);' title='').--underline магазинах «Робинзон»
                        +e.hidden.--payment.js-hidden-vacancy
                            p Оплата банковской картой осуществляется на&nbsp;защищенной странице ПАО &laquo;Сбербанк&raquo;. При оформлении заказа укажите способ оплаты &laquo;Банковской картой на&nbsp;сайте&raquo;. Обязательно укажите адрес электронной почты, на&nbsp;который будет отправлено письмо с&nbsp;ссылкой на&nbsp;оплату.
                            p Оплата осуществляется на&nbsp;защищенной странице ПАО &laquo;Сбербанк&raquo;, после оформления и&nbsp;подтверждения заказа. Наш интернет-магазин не&nbsp;знает и&nbsp;не&nbsp;хранит данных по&nbsp;вашей пластиковой карте. При аннулировании позиций из&nbsp;заказа (или при аннулировании заказа целиком) и&nbsp;способе оплаты банковской картой на&nbsp;сайте возврат денежных средств осуществляется в&nbsp;течение четырнадцати рабочих дней, только на&nbsp;банковскую карту клиента, указанную в&nbsp;заказе.
                            p
                                | Для возврата денежных средств Вам необходимо выслать запрос с&nbsp;темой &laquo;Возврат&raquo; на&nbsp;электронный адрес 
                                a(href='mailto:order@robinzon.ru' title='') order@robinzon.ru
                            p Для онлайн-оплаты можно использовать банковские карты Visa, Visa Electron, MasterCard и&nbsp;Maestro. Ввод и&nbsp;обработка платежных данных производится на&nbsp;стороне ПАО &laquo;Сбербанк&raquo;. Введенные покупателем данные банковской карты надежно защищены и&nbsp;передаются в&nbsp;зашифрованном с&nbsp;помощью криптографического протокола TLS виде, что гарантирует полную безопасность денежных средств и&nbsp;персональных данных.

                            p Для оплаты банковской картой необходимо заполнить короткую платежную форму:

                            ol
                                li выбрать тип платёжной системы (Visa, MasterCard);
                                li указать номер карты (16&nbsp;цифр на&nbsp;лицевой стороне карты);
                                li ввести CVC&nbsp;/ CVV номер (3&nbsp;цифры, которые напечатаны на&nbsp;обратной стороне карты, на&nbsp;полосе с&nbsp;подписью);
                                li имя и&nbsp;фамилию владельца карты (в&nbsp;точности так&nbsp;же, как они написаны на&nbsp;лицевой стороне карты);
                                li срок действия карты, который написан на&nbsp;лицевой стороне карты.

                            p
                                | После успешного прохождения оплаты на&nbsp;электронную почту плательщика направляется электронный чек, подтверждающий совершение платежа и&nbsp;содержащий его уникальный идентификатор. При оплате заказа банковской картой из&nbsp;стран СНГ возможность и&nbsp;условия доставки уточняйте у&nbsp;менеджера по&nbsp;тел. 
                                a(href='tel:88005553285' title='') 8-800-555-32-85 
                                | или 
                                a(href='mailto:order@robinzon.ru' title='') email: order@robinzon.ru

                            +e.footer
                                +b('a').link(href='javascript:void(0);' title='').--underline-dot.--payment.js-close-accordion Свернуть

                    +b.accordion-vacancy.--payment.js-accordion-vacancy
                        +e.visible.--payment.js-visible-vacancy
                            +e.group.--cursor-default.js-open-vacancy
                                +e('span').count 3
                                +e.head
                                    +e.title
                                        | Банковской картой при доставке товара курьером
                        +e.hidden.--payment.js-hidden-vacancy
                            p Оплата банковской картой осуществляется на&nbsp;защищенной странице ПАО &laquo;Сбербанк&raquo;. При оформлении заказа укажите способ оплаты &laquo;Банковской картой на&nbsp;сайте&raquo;. Обязательно укажите адрес электронной почты, на&nbsp;который будет отправлено письмо с&nbsp;ссылкой на&nbsp;оплату.
                            p Оплата осуществляется на&nbsp;защищенной странице ПАО &laquo;Сбербанк&raquo;, после оформления и&nbsp;подтверждения заказа. Наш интернет-магазин не&nbsp;знает и&nbsp;не&nbsp;хранит данных по&nbsp;вашей пластиковой карте. При аннулировании позиций из&nbsp;заказа (или при аннулировании заказа целиком) и&nbsp;способе оплаты банковской картой на&nbsp;сайте возврат денежных средств осуществляется в&nbsp;течение четырнадцати рабочих дней, только на&nbsp;банковскую карту клиента, указанную в&nbsp;заказе.
                            p
                                | Для возврата денежных средств Вам необходимо выслать запрос с&nbsp;темой &laquo;Возврат&raquo; на&nbsp;электронный адрес 
                                a(href='mailto:order@robinzon.ru' title='') order@robinzon.ru
                            p Для онлайн-оплаты можно использовать банковские карты Visa, Visa Electron, MasterCard и&nbsp;Maestro. Ввод и&nbsp;обработка платежных данных производится на&nbsp;стороне ПАО &laquo;Сбербанк&raquo;. Введенные покупателем данные банковской карты надежно защищены и&nbsp;передаются в&nbsp;зашифрованном с&nbsp;помощью криптографического протокола TLS виде, что гарантирует полную безопасность денежных средств и&nbsp;персональных данных.

                            p Для оплаты банковской картой необходимо заполнить короткую платежную форму:

                            ol
                                li выбрать тип платёжной системы (Visa, MasterCard);
                                li указать номер карты (16&nbsp;цифр на&nbsp;лицевой стороне карты);
                                li ввести CVC&nbsp;/ CVV номер (3&nbsp;цифры, которые напечатаны на&nbsp;обратной стороне карты, на&nbsp;полосе с&nbsp;подписью);
                                li имя и&nbsp;фамилию владельца карты (в&nbsp;точности так&nbsp;же, как они написаны на&nbsp;лицевой стороне карты);
                                li срок действия карты, который написан на&nbsp;лицевой стороне карты.

                            p
                                | После успешного прохождения оплаты на&nbsp;электронную почту плательщика направляется электронный чек, подтверждающий совершение платежа и&nbsp;содержащий его уникальный идентификатор. При оплате заказа банковской картой из&nbsp;стран СНГ возможность и&nbsp;условия доставки уточняйте у&nbsp;менеджера по&nbsp;тел. 
                                a(href='tel:88005553285' title='') 8-800-555-32-85 
                                | или 
                                a(href='mailto:order@robinzon.ru' title='') email: order@robinzon.ru

                            +e.footer
                                +b('a').link(href='javascript:void(0);' title='').--underline-dot.--payment.js-close-accordion Свернуть

                    +b.accordion-vacancy.--payment.js-accordion-vacancy
                        +e.visible.--payment.js-visible-vacancy
                            +e.group.js-open-vacancy
                                +e('span').count 4
                                +e.head
                                    +e.title
                                        | Банковской картой в 
                                        +b('a').link(href='javascript:void(0);' title='').--underline магазинах «Робинзон»
                        +e.hidden.--payment.js-hidden-vacancy
                            p Оплата банковской картой осуществляется на&nbsp;защищенной странице ПАО &laquo;Сбербанк&raquo;. При оформлении заказа укажите способ оплаты &laquo;Банковской картой на&nbsp;сайте&raquo;. Обязательно укажите адрес электронной почты, на&nbsp;который будет отправлено письмо с&nbsp;ссылкой на&nbsp;оплату.
                            p Оплата осуществляется на&nbsp;защищенной странице ПАО &laquo;Сбербанк&raquo;, после оформления и&nbsp;подтверждения заказа. Наш интернет-магазин не&nbsp;знает и&nbsp;не&nbsp;хранит данных по&nbsp;вашей пластиковой карте. При аннулировании позиций из&nbsp;заказа (или при аннулировании заказа целиком) и&nbsp;способе оплаты банковской картой на&nbsp;сайте возврат денежных средств осуществляется в&nbsp;течение четырнадцати рабочих дней, только на&nbsp;банковскую карту клиента, указанную в&nbsp;заказе.
                            p
                                | Для возврата денежных средств Вам необходимо выслать запрос с&nbsp;темой &laquo;Возврат&raquo; на&nbsp;электронный адрес 
                                a(href='mailto:order@robinzon.ru' title='') order@robinzon.ru
                            p Для онлайн-оплаты можно использовать банковские карты Visa, Visa Electron, MasterCard и&nbsp;Maestro. Ввод и&nbsp;обработка платежных данных производится на&nbsp;стороне ПАО &laquo;Сбербанк&raquo;. Введенные покупателем данные банковской карты надежно защищены и&nbsp;передаются в&nbsp;зашифрованном с&nbsp;помощью криптографического протокола TLS виде, что гарантирует полную безопасность денежных средств и&nbsp;персональных данных.

                            p Для оплаты банковской картой необходимо заполнить короткую платежную форму:

                            ol
                                li выбрать тип платёжной системы (Visa, MasterCard);
                                li указать номер карты (16&nbsp;цифр на&nbsp;лицевой стороне карты);
                                li ввести CVC&nbsp;/ CVV номер (3&nbsp;цифры, которые напечатаны на&nbsp;обратной стороне карты, на&nbsp;полосе с&nbsp;подписью);
                                li имя и&nbsp;фамилию владельца карты (в&nbsp;точности так&nbsp;же, как они написаны на&nbsp;лицевой стороне карты);
                                li срок действия карты, который написан на&nbsp;лицевой стороне карты.

                            p
                                | После успешного прохождения оплаты на&nbsp;электронную почту плательщика направляется электронный чек, подтверждающий совершение платежа и&nbsp;содержащий его уникальный идентификатор. При оплате заказа банковской картой из&nbsp;стран СНГ возможность и&nbsp;условия доставки уточняйте у&nbsp;менеджера по&nbsp;тел. 
                                a(href='tel:88005553285' title='') 8-800-555-32-85 
                                | или 
                                a(href='mailto:order@robinzon.ru' title='') email: order@robinzon.ru

                            +e.footer
                                +b('a').link(href='javascript:void(0);' title='').--underline-dot.--payment.js-close-accordion Свернуть

                    +b.accordion-vacancy.--payment.js-accordion-vacancy
                        +e.visible.--payment.js-visible-vacancy
                            +e.group.js-open-vacancy
                                +e('span').count 5
                                +e.head
                                    +e.title
                                        | Банковской картой на сайте
                        +e.hidden.--payment.js-hidden-vacancy
                            p Оплата банковской картой осуществляется на&nbsp;защищенной странице ПАО &laquo;Сбербанк&raquo;. При оформлении заказа укажите способ оплаты &laquo;Банковской картой на&nbsp;сайте&raquo;. Обязательно укажите адрес электронной почты, на&nbsp;который будет отправлено письмо с&nbsp;ссылкой на&nbsp;оплату.
                            p Оплата осуществляется на&nbsp;защищенной странице ПАО &laquo;Сбербанк&raquo;, после оформления и&nbsp;подтверждения заказа. Наш интернет-магазин не&nbsp;знает и&nbsp;не&nbsp;хранит данных по&nbsp;вашей пластиковой карте. При аннулировании позиций из&nbsp;заказа (или при аннулировании заказа целиком) и&nbsp;способе оплаты банковской картой на&nbsp;сайте возврат денежных средств осуществляется в&nbsp;течение четырнадцати рабочих дней, только на&nbsp;банковскую карту клиента, указанную в&nbsp;заказе.
                            p
                                | Для возврата денежных средств Вам необходимо выслать запрос с&nbsp;темой &laquo;Возврат&raquo; на&nbsp;электронный адрес 
                                a(href='mailto:order@robinzon.ru' title='') order@robinzon.ru
                            p Для онлайн-оплаты можно использовать банковские карты Visa, Visa Electron, MasterCard и&nbsp;Maestro. Ввод и&nbsp;обработка платежных данных производится на&nbsp;стороне ПАО &laquo;Сбербанк&raquo;. Введенные покупателем данные банковской карты надежно защищены и&nbsp;передаются в&nbsp;зашифрованном с&nbsp;помощью криптографического протокола TLS виде, что гарантирует полную безопасность денежных средств и&nbsp;персональных данных.

                            p Для оплаты банковской картой необходимо заполнить короткую платежную форму:

                            ol
                                li выбрать тип платёжной системы (Visa, MasterCard);
                                li указать номер карты (16&nbsp;цифр на&nbsp;лицевой стороне карты);
                                li ввести CVC&nbsp;/ CVV номер (3&nbsp;цифры, которые напечатаны на&nbsp;обратной стороне карты, на&nbsp;полосе с&nbsp;подписью);
                                li имя и&nbsp;фамилию владельца карты (в&nbsp;точности так&nbsp;же, как они написаны на&nbsp;лицевой стороне карты);
                                li срок действия карты, который написан на&nbsp;лицевой стороне карты.

                            p
                                | После успешного прохождения оплаты на&nbsp;электронную почту плательщика направляется электронный чек, подтверждающий совершение платежа и&nbsp;содержащий его уникальный идентификатор. При оплате заказа банковской картой из&nbsp;стран СНГ возможность и&nbsp;условия доставки уточняйте у&nbsp;менеджера по&nbsp;тел. 
                                a(href='tel:88005553285' title='') 8-800-555-32-85 
                                | или 
                                a(href='mailto:order@robinzon.ru' title='') email: order@robinzon.ru

                            +e.footer
                                +b('a').link(href='javascript:void(0);' title='').--underline-dot.--payment.js-close-accordion Свернуть

                    +b.accordion-vacancy.--payment.js-accordion-vacancy
                        +e.visible.--payment.js-visible-vacancy
                            +e.group.js-open-vacancy
                                +e('span').count 6
                                +e.head
                                    +e.title
                                        | Безналичный расчет
                                    +b('a').link(href='javascript:void(0);' title='').--underline-dot Подробнее
                        +e.hidden.--payment.js-hidden-vacancy
                            p Оплата банковской картой осуществляется на&nbsp;защищенной странице ПАО &laquo;Сбербанк&raquo;. При оформлении заказа укажите способ оплаты &laquo;Банковской картой на&nbsp;сайте&raquo;. Обязательно укажите адрес электронной почты, на&nbsp;который будет отправлено письмо с&nbsp;ссылкой на&nbsp;оплату.
                            p Оплата осуществляется на&nbsp;защищенной странице ПАО &laquo;Сбербанк&raquo;, после оформления и&nbsp;подтверждения заказа. Наш интернет-магазин не&nbsp;знает и&nbsp;не&nbsp;хранит данных по&nbsp;вашей пластиковой карте. При аннулировании позиций из&nbsp;заказа (или при аннулировании заказа целиком) и&nbsp;способе оплаты банковской картой на&nbsp;сайте возврат денежных средств осуществляется в&nbsp;течение четырнадцати рабочих дней, только на&nbsp;банковскую карту клиента, указанную в&nbsp;заказе.
                            p
                                | Для возврата денежных средств Вам необходимо выслать запрос с&nbsp;темой &laquo;Возврат&raquo; на&nbsp;электронный адрес 
                                a(href='mailto:order@robinzon.ru' title='') order@robinzon.ru
                            p Для онлайн-оплаты можно использовать банковские карты Visa, Visa Electron, MasterCard и&nbsp;Maestro. Ввод и&nbsp;обработка платежных данных производится на&nbsp;стороне ПАО &laquo;Сбербанк&raquo;. Введенные покупателем данные банковской карты надежно защищены и&nbsp;передаются в&nbsp;зашифрованном с&nbsp;помощью криптографического протокола TLS виде, что гарантирует полную безопасность денежных средств и&nbsp;персональных данных.

                            p Для оплаты банковской картой необходимо заполнить короткую платежную форму:

                            ol
                                li выбрать тип платёжной системы (Visa, MasterCard);
                                li указать номер карты (16&nbsp;цифр на&nbsp;лицевой стороне карты);
                                li ввести CVC&nbsp;/ CVV номер (3&nbsp;цифры, которые напечатаны на&nbsp;обратной стороне карты, на&nbsp;полосе с&nbsp;подписью);
                                li имя и&nbsp;фамилию владельца карты (в&nbsp;точности так&nbsp;же, как они написаны на&nbsp;лицевой стороне карты);
                                li срок действия карты, который написан на&nbsp;лицевой стороне карты.

                            p
                                | После успешного прохождения оплаты на&nbsp;электронную почту плательщика направляется электронный чек, подтверждающий совершение платежа и&nbsp;содержащий его уникальный идентификатор. При оплате заказа банковской картой из&nbsp;стран СНГ возможность и&nbsp;условия доставки уточняйте у&nbsp;менеджера по&nbsp;тел. 
                                a(href='tel:88005553285' title='') 8-800-555-32-85 
                                | или 
                                a(href='mailto:order@robinzon.ru' title='') email: order@robinzon.ru

                            +e.footer
                                +b('a').link(href='javascript:void(0);' title='').--underline-dot.--payment.js-close-accordion Свернуть