//- ====================
//- Project: press-article
//- 16-07-2018: Sash
//- --------------------
//- Пресс-статья
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'press-article'

//- Модифицируем head
block head
    - var pageTitle = 'Пресса-статья';

//- Выводим попапы
block popup

//- Выводим content
block content
    .b-container
        include section/ui-kit/breadcrumbs.pug
        +breadcrumbs('Главная', 'Пресса о нас', 'Советы по выбору хорошего чемодана').--press-article
        include section/ui-kit/title.pug
        +title('h1', 'Советы по выбору хорошего чемодана').--press-article
        include section/press-article.pug
    +press-article({'items': [{
                      'tv': 'Телеканал "НТВ" ',
                      'date': '12 августа 2018',
                      'src':   'images/content/press-article.jpg',
                      'text': 'Часто при сборе в деловую поездку или путешествие возникает вопрос о том, как довезти ту или иную вещь гардероба, не помяв ее. Конечно, можно аккуратно сложить в чемодан, но в этом случае одежда все равно помнется. Не везти же с собой утюг. А одевать мятое никому не хочется. Именно для таких, казалось бы, нерешаемых ситуаций создан портплед.',
                      'secondText': 'Портплед представляет собой чехол для одежды, который защищает вещи от влаги, замятий и загрязнений. Вы можете быть уверены, что костюм останется в идеальном виде и вы сэкономите время и деньги на химчистке. Портпледы бывают как на колесах с выдвижной телескопической ручкой (для длительных поездок), так и без - просто с плечевым ремнем в 2 сложения или более компактный – в 3 сложения.',
                      'thirdText' : 'В каждой модели имеются отделения для необходимых мелочей, в некоторых даже есть отсеки для обуви и белья (например, в портпледе из коллекции Samsonite New Spark). В комплекте обычно бывает одна или две вешалки – плечика.',
                      'add_text'  : 'Все статьи'
                      }
                  ]})