//- ====================
//- Project: store-one
//- 19-06-2018: sashakasha
//- --------------------
//- Один магазин
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'store-one'

//- Модифицируем head
block head
    - var pageTitle = 'Робинзон на пролетарской';

//- Выводим попапы
block popup

//- Выводим content
block content
    +b.stores
        .b-container
            include section/ui-kit/breadcrumbs.pug
            +breadcrumbs('Главная', 'Наши магазины').--catalog
            include section/ui-kit/title.pug
            +title('h1', 'Робинзон на Пролетарской').--stores-page

            //- Лежит в stores-components pug
            include section/content/stores-components.pug
            +stores-components__line({
                'classLinkShop': '',
                'classLinkPvz': ''
            })

        +b('section').section.--white.--store-card
            .b-container
                +b.action
                    +e('img').image(src='images/inhtml/proсent.svg', alt='', title='')
                    +e.text
                        +e('span').date 26 — 29 апреля
                        +e('span').text Специальные скидки и подарки в честь открытия магазина робинзон В ТРЦ «Гагаринский».

                include section/store-card.pug
                +store-card()
        // BEGIN: Популярных брендов
        +b('section').section.--gray
            .b-container
                +b.popular-brand
                    +b.goto-banner
                        +e.item--consultation.--big
                            include section/consultation.pug
                            +consultation({
                                'title': '',
                                'src': 'images/content/avatar.png',
                                'name': 'Есть вопросы? Звоните!',
                                'secondary': 'Если Вас заинтересовала конкретная модель, и Вы хотите купить ее в магазине «Робинзон» в ТЦ «Дубрава» г. Одинцово, уточняйте наличие по телефону: ',
                                'question': false,
                                'classAvatar': '--description'
                            }).--stretch.--store
                        +e.wrapper.--store.js-pick-slider-store
                            +e.item.--slider
                                include section/pick-model.pug
                                +pick-model('images/content/banner-pick.png').--stretch
                            +e.item.--slider
                                include section/pick-model.pug
                                +pick-model('images/content/banner-pick.png').--stretch
                    +title-link('h1', 'В магазине представлены бренды').--block.--link-heading.--about-us

                    //- Слайдер отзывов
                    include section/brand-slider.pug
                    +brand-slider().js-brand-slider.js-horizontal-scroll
                

                //- //- Выбрать рюкзак или чeмодан
                //- include pick-model-block.pug
                //- +pick-model-block()
        // END: Популярных брендов
        //- БАННЕР
        include section/stores-banner.pug
        +stores-banner()