//- ====================
//- Project: main
//- 00-00-2017:
//- --------------------
//- Главная страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'vacancy';

//- Модифицируем head
block head
    - var pageTitle = 'Вакансии';

//- Выводим попапы
block popup

//- Выводим content
block content
    .b-container
        include section/ui-kit/breadcrumbs.pug
        +breadcrumbs('Главная', 'Вакансии').--catalog
        include section/ui-kit/title.pug
        +title('h1', 'Вакансии').--brand
    +b('section').section.--white.--brand
        +b.vacancy
            .b-container
                +e.info-text 
                    p Мы предлагаем интересную работу с достойным вознаграждением, пакетом социальных льгот и компенсаций. Выбирайте карьеру вместе с ROBINZON!
                +e.accordion
                    include section/accordion-vacancy.pug
                    +accordion-vacancy("Продавец-консультант", "12 августа 2018")
                        +e.text
                            p Лидер по продажам багажа и аксессуаров для путешествий Компания "Робинзон.ру" приглашает опытных Руководителей в рознице для рассмотрения на должность "Директор магазина". 
                        +e.title-text Обязанности:
                        ul
                            li управление деятельностью магазина, организация и контроль    выполнения поставленных задач;
                            li выполнение плана продаж, рост товарооборота и снижение издержек;
                            li управление персоналом от 8 человек: (организация и контроль приема, обучения, адаптации, аттестации, мотивации сотрудников магазина);
                            li контроль соблюдения должностных инструкций сотрудников, составление рабочих графиков, учёт кадров;
                            li контроль за качеством обслуживания покупателей сотрудниками магазина;
                            li работа с товаром: мерчендайзинг, проведение инвентаризации, организация и контроль приемки, выкладки;
                            li разрешение спорных вопросов с покупателями;
                            li взаимодействие с контролирующими инстанциями.
                        +e.title-text Требования:
                        ul
                            li Опыт работы в аналогичной должности от 2 лет;
                            li Опыт управления магазином площадью от 300 кв. м минимум;
                            li Опыт руководства коллективом (от 7 человек);
                            li Умение работать с большими объемами информативных данных;
                            li Уверенный пользователь ПК: Word, Excel, 1C;
                            li Активная жизненная позиция, нацеленность на результат;
                            li Лидерские качества;
                            li Личностная зрелость.
                        +e.title-text Условия:
                        ul
                            li заработная плата: по договоренности;
                            li график работы 5/2 с 11.00 до 20.00 (плавающие выходные);
                            li оформление по ТК РФ;
                            li оплачиваемый отпуск и больничный лист;
                            li скидки на товар компании.
                        +e(href="javascript:void(0);" title).min.js-close-accordion Свернуть
                    include section/accordion-vacancy.pug
                    +accordion-vacancy("Директор магазина", "12 августа 2018")
                        +e.text
                            p Лидер по продажам багажа и аксессуаров для путешествий Компания "Робинзон.ру" приглашает опытных Руководителей в рознице для рассмотрения на должность "Директор магазина". 
                        +e.title-text Обязанности:
                        ul
                            li управление деятельностью магазина, организация и контроль    выполнения поставленных задач;
                            li выполнение плана продаж, рост товарооборота и снижение издержек;
                            li управление персоналом от 8 человек: (организация и контроль приема, обучения, адаптации, аттестации, мотивации сотрудников магазина);
                            li контроль соблюдения должностных инструкций сотрудников, составление рабочих графиков, учёт кадров;
                            li контроль за качеством обслуживания покупателей сотрудниками магазина;
                            li работа с товаром: мерчендайзинг, проведение инвентаризации, организация и контроль приемки, выкладки;
                            li разрешение спорных вопросов с покупателями;
                            li взаимодействие с контролирующими инстанциями.
                        +e.title-text Требования:
                        ul
                            li Опыт работы в аналогичной должности от 2 лет;
                            li Опыт управления магазином площадью от 300 кв. м минимум;
                            li Опыт руководства коллективом (от 7 человек);
                            li Умение работать с большими объемами информативных данных;
                            li Уверенный пользователь ПК: Word, Excel, 1C;
                            li Активная жизненная позиция, нацеленность на результат;
                            li Лидерские качества;
                            li Личностная зрелость.
                        +e.title-text Условия:
                        ul
                            li заработная плата: по договоренности;
                            li график работы 5/2 с 11.00 до 20.00 (плавающие выходные);
                            li оформление по ТК РФ;
                            li оплачиваемый отпуск и больничный лист;
                            li скидки на товар компании.
                        +e(href="javascript:void(0);" title).min.js-close-accordion Свернуть
                    include section/accordion-vacancy.pug
                    +accordion-vacancy("Мерчендайзер торгового зала", "12 августа 2018")
                        +e.text
                            p Лидер по продажам багажа и аксессуаров для путешествий Компания "Робинзон.ру" приглашает опытных Руководителей в рознице для рассмотрения на должность "Директор магазина". 
                        +e.title-text Обязанности:
                        ul
                            li управление деятельностью магазина, организация и контроль    выполнения поставленных задач;
                            li выполнение плана продаж, рост товарооборота и снижение издержек;
                            li управление персоналом от 8 человек: (организация и контроль приема, обучения, адаптации, аттестации, мотивации сотрудников магазина);
                            li контроль соблюдения должностных инструкций сотрудников, составление рабочих графиков, учёт кадров;
                            li контроль за качеством обслуживания покупателей сотрудниками магазина;
                            li работа с товаром: мерчендайзинг, проведение инвентаризации, организация и контроль приемки, выкладки;
                            li разрешение спорных вопросов с покупателями;
                            li взаимодействие с контролирующими инстанциями.
                        +e.title-text Требования:
                        ul
                            li Опыт работы в аналогичной должности от 2 лет;
                            li Опыт управления магазином площадью от 300 кв. м минимум;
                            li Опыт руководства коллективом (от 7 человек);
                            li Умение работать с большими объемами информативных данных;
                            li Уверенный пользователь ПК: Word, Excel, 1C;
                            li Активная жизненная позиция, нацеленность на результат;
                            li Лидерские качества;
                            li Личностная зрелость.
                        +e.title-text Условия:
                        ul
                            li заработная плата: по договоренности;
                            li график работы 5/2 с 11.00 до 20.00 (плавающие выходные);
                            li оформление по ТК РФ;
                            li оплачиваемый отпуск и больничный лист;
                            li скидки на товар компании.
                        +e(href="javascript:void(0);" title).min.js-close-accordion Свернуть
                +e.info-text 
                    p Ждем энергичных новых сотрудников в нашем дружном коллективе!
                    p Присылайте Ваше резюме: 
                        a(href="mailto:hr@robinzon.ru" title="hr@robinzon.ru") hr@robinzon.ru