/* 768 + */
.b-comunication {
    padding-left: 15px;
    padding-right: 0px;
    margin-left: auto;

    &__city {
        margin-bottom: 20px;
        padding-top: 10px;
    }

    &__text {
        line-height: 22px;
    }

    &__call {
        line-height: 22px;
    }

    &__link {
        line-height: 22px;
    }
}
