/* 1440 + */
.b-comunication {
    width: 239px;
    padding-right: 15px;
    display: inline-block;
    vertical-align: top;
    text-align: left;

    &__title-link {
        .roboto-regular;
        font-size: 18px;
        line-height: 24px;
        color:@cl-font-main;
        display: inline-block;
    }

    &__text {
        .roboto-regular;
        font-size: 13px;
        line-height: 28px;
        color:@cl-font-gray;
        width: 205px;
        display: block;
    }

    &__link {
        .roboto-regular;
        font-size: 13px;
        line-height: 24px;
        color:@cl-font-gray;
    }

    &__city {
        .roboto-bold;
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 9px;
        padding-top: 14px;
    }

    &__ya-market {
        width: 88px;
        height: 31px;
    }
}