/* 320 + */
.b-comunication {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 290px;
    width: 100%;
    margin-bottom: 0px;
    display: inline-flex;
    justify-content: space-between;

    &__city {
        line-height: 22px;
        font-size: 12px;
        margin-bottom: 0px;
        padding-top: 5px;
    }

    &__call {
        line-height: 22px;
        font-size: 12px;
    }

    &__link {
        line-height: 22px;
        font-size: 12px;
    }

    &__text {
        line-height: 19px;
        font-size: 12px;
        width: 194px;
    }

    &__wrap {
        margin-bottom: 0px;
    }
}