/* 1440 + */
.b-contacts {
    padding: 47px 0 70px;

    &__wrapper-text {
        max-width: 910px;
    }

    &__info-block {
        margin-bottom: 20px;
    }

    &__title,
    &__phone,
    &__worktime,
    &__address,
    &__email {
        display: block;
    }

    &__title {
        font-weight: 600;
    }
}