/* 1440 + */
.b-price-pc {
    &--product-card {
        margin-bottom: 25px;
    }

    &__economy {
        font-size: 14px;
        line-height: 16px;
        color: #7D7D7D;
        margin-right: 10px;
    }

    &__economy-block {
        display: flex;
        justify-content: space-between;
    }


    &__old-price {
        .roboto-regular;
        font-weight: bold;
        font-size: 25px;
        line-height: 29px;
        text-decoration-line: line-through;
        color: #DADADA;
    }

    &__main {
        .roboto-regular;
        font-weight: 900;
        margin-right: auto;
        color: @cl-font-main;

        &--sale {
            color: #FF002A;
        }
    }

    &__number {
        font-size: 51px;
        line-height: 60px;
    }

    &__text {
        font-size: 29px;
        line-height: 34px;
    }

    &__main-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__sale {
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        color: #fff;
        background: #FF002A;
        border-radius: 2px;
        padding: 3px 6px;

    }
}