.b-tab-delivery {
    &__header {
        display: none;
    }
    &.in-map {
        height: auto;
    }

    &--order {
        flex: 1 1 auto;
        overflow-y: auto;
    }

    &__addition-header {
        padding-top: 0;
    }
}