.b-tab-delivery {
    display: inline-block;
    vertical-align: top;
    width: 810px;
    flex: 1 0 auto;
    height: 660px;
    padding-left: 30px;
    overflow: hidden;

    &__addition-header {
        font-size: 15px;
        .roboto-bold;
        line-height: 1.33;
        color: green;
        padding: 19px 15px 11px;
    }
}