/* 1280 + */
.b-section {
    padding-top: 65px;

    &--popular {
        padding-top: 0;
    }

    &--recommended,
    &--stores {
        padding-top: 70px;
    }

    &--buy-set {
        padding-top: 0;
    }

    &--brand {
        padding: 0;
    }

    &--cart-empty {
        padding: 64px 0 73px;
    }

    &--visited {
        padding: 0;
    }

    &--sale-filter {
        padding: 0;
        margin-bottom: 29px;
    }

    &--sale-recommended {
        padding: 0;
        padding-bottom: 40px;
    }

    &--store-card {
        padding-top: 41px;
    }

    &--review {
        padding: 0;
    }

    &--delivery {
        padding: 25px 0;
    }
    
    &--payment {
        padding: 0;
        margin-bottom: 80px;
    }
    
    &--corp {
        padding: 0;
    }
}