/* 1440 + */
.b-section {
    display: block;
    padding-top: 60px;
    padding-bottom: 40px;

    &--scroll {
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
    }

    &--white {
        background-color: @cl-white;
        padding-top: 36px;
    }

    &--gray {
        background-color: @cl-section-gray;
    }

    &--obtainment {
        padding-top: 0px;
    }

    &--whyrobinzon {
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: @whyrobinzon-background;
    }

    &--popular {
        // max-width: 977px;
        padding-top: 0;
    }

    &--incatalog {
        margin-bottom: 20px;
    }

    &--mobile-show {
        display: none;
    }

    &--recommended {
        // padding-bottom: 0;
        padding-bottom: 70px;
    }

    &--recommended,
    &--stores {
        padding-top: 70px;
    }

    &--buy-set {
        padding-top: 0;
    }

    &--brand {
        padding: 0;
    }

    &--cart-empty {
        margin: 0 0 47px;
        padding: 64px 0 73px;
    }

    &--visited {
        margin: 0 0 84px;
        padding: 0;
    }

    &--sale-filter {
        padding: 0;
        margin-bottom: 29px;
    }

    &--sale-recommended {
        padding-top: 0;
        padding-bottom: 40px;
        // margin-bottom: 20px;
    }

    &__mobile-scroll {
        &--sale-tag {
            padding-bottom: 44px;
        }
    }

    &--store-card {
        padding-top: 41px;
    }

    &--review {
        padding: 0;
        margin-bottom: 30px;
    }

    &--review-form {
        background-color: @cl-white;
        padding-bottom: 60px;
        padding-bottom: 60px;
        margin-bottom: 140px;
    }

    &--delivery {
        padding: 25px 0;
        margin-bottom: 80px;
    }
    
    &--corp {
        margin: 0 0 80px;
        padding: 0;
    }

    &--payment {
        padding: 0;
        margin-bottom: 80px;
    }

    &__tablet-scroll {
        &--sale-tag {
            white-space: nowrap;
            // overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &--about-us {
        padding-bottom: 0px;
    }
}