/* 1440 + */
.b-product-recomendation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 30px;

    &__image {
        display: inline-block;
        vertical-align: middle;
        width: 110px;
        height: 110px;
        line-height: 110px;
        text-align: center;
        flex-shrink: 0;
        margin-right: 20px;
        border-radius: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';
    }

    &__text {
        .roboto-regular;
        font-size: 15px;
        line-height: 1.47;
    }
}