/* 320 + */
.b-product-recomendation {
    padding: 0 10px 0 0;

    &__image {
        width: 80px;
        height: 80px;
        margin-right: 15px;
    }

    &__text {
        font-size: 13px;
    }
}