/* 768 + */
.b-brand-group-list {
    margin: 0 8px;
    padding: 16px 0 24px;
    width: ~'calc(25% - 16px)';
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;

    &__letter {
        margin: 0 0 7px;
        width: 100%;
    }
}