/* 1440 + */

.b-tab-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:stretch;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 31px;
    padding-bottom: 30px;

    &--suitcase {
        padding-right: 440px;
    }
}