/* 768 + */

.b-tab-container {
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 31px;

    &--catalog-bred {   
        width: auto;
        padding: 19px 0 40px 15px;
        margin: 0 0px 0 -15px;
        padding-top: 19px;
        padding-bottom: 40px;
        padding-left: 15px;
    }

    &--suitcase {
        // width: ~"calc(50% - 25px)";
        width: 100%;
        padding-right: 0;
        margin: 0;
        justify-content: space-between;

    }
}
