/* 768 + */
.b-about-us {
    &__column {
        &--left {
            width: 100%;
        }

        &--right {
            display: none;
        }
    }

    &__content {
        p {
            padding-right: 30px;
        }
    }
}