/* 320 + */
.b-add-review-popup {
    width: 100%;
    padding: 44px 17px 35px;
    min-height:auto;


    &__message-block {
        min-height:auto;
    }

    &__text-title {
        font-size: 13px;
        line-height: 18px;
        margin: 0 0 21px;
    }

    &__row {
        display: block;
        margin-bottom: 11px;

        &--last {
            margin-bottom: 26px;
        }
    }

    &__column {
        width: 100%;
        margin-bottom: 11px;

        &:last-child {
            margin: 0;
        }
    }
}