/* 1440 + */
.b-add-review-popup {
    background-color: @cl-font-white;
    width: 797px;//600px;
    position: relative;
    height: 100%;
    min-height: 600px;
    padding: 36px 30px 45px;

    &__message-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 600px;
    }

    &__text-title {
        line-height: 28px;
        font-size: 15px;
        margin: 0 0 26px;

        p {
            margin: 0;
        }

        &--message {
            font-size: 22px;
            line-height: 32px;
            text-align: center;
            max-width: 427px;
            margin: 0 auto;
        }
    }

    &__row {
        margin: 0 0 16px;

        &--column {
            display: flex;
            margin: 0 -15px 16px;
        }

        &--last {
            margin-bottom: 38px;
        }
    }

    &__column {
        width: 50%;
        padding: 0 15px;
    }

    &__image {
        width: 111px;
        height: 90px;
        margin: 0 auto 34px;
        display: block;
    }

}