/* 768 + */
.b-goto-banner {
    flex-wrap: wrap;
    margin: 0 0 50px;

    &__item {
        margin: 0 0 30px;
        width: calc(~"(100% - 28px) / 2");

        &--consultation {
            margin: 0;
            width: 100%;
        }

        &--slider {
            margin: 0 7px;
            width: 50%;
        }
    }

    &__wrapper {
        width: 100%;
        margin: 0 0 15px;
    }
}