/* 320 + */
.b-delivery-top {
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 30px;

    &--info {
        margin: 0 0 15px;
    }

    &__text {
        display: block;
        margin: 0;
    }
}