/* 768 + */
.b-title {
    &--card {
        font-size: 22px;
        margin-right: 0;
        width: 200px;
    }

    &--category {
        font-size: 16px;
    }

    &--recommended-bred {
        margin-bottom: 0px;
    }

    &--product-tab-big-top {
        padding-top: 65px;
    }

    &--order {
        // margin: 0;
        // margin-bottom: 10px;
    }

    &--way-get {
        padding-right: 0;
    }

    &--filter {
        font-size: 20px;
        line-height: 20px;
        margin: 0 0 18px;
    }

    &--gotham-big {
        font-size: 32px;
    }

    &--goto {
        font-size: 26px;
        margin-bottom: 21px;
    }

    &--p404 {
        font-size: 20px;
        margin-bottom: 19px;
    }

    &--brand-recommend {
        font-size: 20px;
    }

    &--payment-step-2 {
        width: 100%;
        padding-bottom: 14px;
        border-bottom: 1px solid @hr-popup;
        margin-right: 0;
        margin-bottom: 8px;
    }

    &--payment-small {
        display: none;
    }

    &--pvz-info {
        display: none;
    }

    &--pvz-info-small {
        width: 45%;
        font-size: 20px;
    }

    &--cart-empty {
        font-size: 26px;
    }

    &--store-item {
        margin: 0 0 19px;
        width: 180px;
        height: 34px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &--store-text {
        .b-store-item__info & {
            display: none;
        }
    }

    &--stores-banner {
        font-size: 18px;
    }

    &--sale-tag {
        margin-bottom: 6px;
    }

    &--help-popup {
        margin-bottom: 23px;
    }

    &--guarantee {
        font-size: 20px;
        line-height: 27px;
        max-width: 610px;
        letter-spacing: 0.1px;
        margin: 0 0 25px;
    }

    &--press-article {
        font-size: 26px;
        margin-bottom: 29px;
    }
    
    &--review-form {
        padding-bottom: 16px;
        margin-bottom: 17px;
    }

    &--opinion {
        margin-bottom: 26px;
    }

    &--delivery {
        font-size: 20px;
        margin: 0 0 17px;
    }

    &--delivery-info {
        font-size: 13px;
        margin: 0 0 4px;
    }

    &--whyrobinzon {
        margin-bottom: 24px;
    }
}