/* 320 + */
.b-title {
    // общие
    &--mobile-show {
        display: inline-block;
    }

    &--mobile-hide {
        display: none;
    }
    // общие end

    &--card {
        font-size: 18px;
        width: 100%;
    }

    &--category {
        font-size: 13px;
    }

    &--stores {
        font-size: 18px;
        margin-bottom: 20px;
    }

    &--obtainment {
        display: none;
    }

    &--tag {
        text-align: center;
        margin-right: 0;
    }

    &--mobile-popup {
        font-size: 13px;
        line-height: 17px;
    }

    &--popup-filter {
        display: block;
        margin: 0;
        .roboto-medium;
        font-size: 12px;
        line-height: 1.2;
        text-transform: uppercase;
        padding-top: 17px;
        margin-bottom: 20px;
        color: @cl-font-light;
    }

    &--tag-title {
        display: none;
    }

    &--link-heading {
        font-size: 18px;
    }

    &--recommended-tab {
        font-size: 18px;
        text-align: left;
    }

    &--catalog {
        margin-bottom: 3px;
        padding-top: 20px;
    }

    &--login {
        margin: 0 0 20px 0;
    }

    &--login-social {
        margin-bottom: 15px;
    }

    &--suggested-city {
        display: none;
    }

    &--product-tab {
        font-size: 16px;
        line-height: 1.2;
        padding-top: 25px;
        margin-bottom: 20px;
    }

    &--product-tab-big-top {
        padding-top: 30px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    &--buy-set {
        font-size: 16px;
        line-height: 1.1;
        text-align: left;
        margin-bottom: 20px;
    }

    &--similar {
        font-size: 16px;
        line-height: 1.4;
        text-align: left;
        margin-bottom: 20px;
    }

    &--page-head {
        padding-top: 15px;
        font-size: 18px;
        margin-bottom: 15px;
    }

    &--order {
        font-size: 18px;
        margin: 0 0 16px 0;
        padding: 0 0 9px;
    }

    &--noborder {
        margin: 0 0 9px;
        padding: 0;
    }

    &--payment-method {
        margin-bottom: 0;
    }

    &--cart-help {
        margin-bottom: 15px;
    }

    &--payment {
        font-size: 18px;
        margin-bottom: 9px;
    }

    &--way-get-head {
        font-size: 18px;
        padding-top: 7px;
        margin-bottom: 9px;
    }
    &--way-get {
        padding-top: 13px;
        margin-bottom: 5px;
    }

    &--cart {
        font-size: 24px;
    }

    &--brand {
        padding-top: 15px;
        font-size: 18px;
        line-height: 18px;
        margin: 0 0 15px;
    }

    &--filter {
        font-size: 16px;
        line-height: 16px;
        padding: 0 15px;
    }

    &--goto {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 22px;
        padding: 0 30px;
    }

    &--p404 {
        font-size: 16px;
    }

    &--brand-recommend {
        font-size: 16px;
        margin: 0 0 19px;
    }

    &--payment-small {
        display: block;
    }

    &--payment {
        padding-bottom: 4px;
        margin-bottom: 4px;
    }

    &--cart-empty {
        font-size: 18px;
        margin: 0 0 29px;
        padding: 27px 0 0;
    }

    &--pvz-info-small {
        font-size: 16px;
    }

    &--consultation {
        .b-consultation--stretch & {
            margin: 0 0 17px 75px;
        }
    }

    &--store-item {
        margin: 0;
        width: auto;
        height: auto;
        overflow: inherit;
        display: inline-block;

        .b-store-item.active & {
            color: @cl-theme-link-hover;
        }
    }

    &--store-text {
        .b-store-item__info & {
            display: block;
        }
    }

    &--help-popup {
        font-size: 18px;
        margin-bottom: 23px;
    }

    &--store-card {
        font-size: 14px;
    }

    &--guarantee {
        font-size: 16px;
        line-height: 22px;
    }

    &--press-article {
        font-size: 18px;
    }

    &--opinion {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 20px;
    }

    &--review-form {
        font-size: 16px;
    }

    &--add-review {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    &--delivery {
        .roboto-medium;
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 7px;
    }

    &--delivery-info {
        line-height: 27px;
        margin: 0 0 4px;
    }

    &--city-one {
        font-size: 15px;
    }

    &--in-shop {
        margin-bottom: 15px;
        margin-right: -20px;
        margin-left: -20px;
    }

    &--lined {
        & span {
            margin: 0 10px;
        }
    }
}