/* 1170 + */

.b-announcement {
    width:360px;

    &__block-text {
        display: inline-block;
        width: 185px;
    }

    &__text {

        &--width {
            margin: 0 0 12px;
        }
    }

    &__text-secondary {

        &--choice {
            margin-bottom: 13px;
        }
    }

    &--indentation {
        padding-top: 88px;
        padding-left: 29px;
    }
}
