/* 768 + */
.b-in-basket-popup {

    &__sell {
        &--come-handy {
            display: none;
        }
    }

    &__image {
        display: inline-block;
        vertical-align: top;
        width: 110px;
        height: 125px;
        margin: 0 0 15px;
    }

    &__description {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        vertical-align: top;
        text-align: left;
        font-size: 13px;
        padding-left: 15px;
        width: ~'calc(100% - 110px)';
        margin-bottom: 15px;
    }


    &__recomend-list {
        max-width: 440px;
    }
}