/* 1440 + */
.b-warning-popup {
    position: relative;
    max-width: 400px;
    width: 100%;
    padding: 40px;
    background-color: @background-header;
    text-align: center;

    &__img {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 188px;
        height: 123px;
        flex: 0 0 auto;
        object-fit: contain;
        font-family: 'object-fit: contain;';
        margin-bottom: 20px;
    }

    &__text {
        .roboto-regular;
        font-size: 13px;
        line-height: 1.50;
        color: @cl-font-main;
        margin: 0 0 30px;
    }
}