/* 1440 + */
.b-cart-empty {
    margin: 0 0 29px;

    &--search {
        margin: 0 0 47px;
    }

    &__text {
        p {
            font-size: 22px;
            line-height: 28px;
            margin: 0;
        }
    }
}