/* 768 + */
.b-stores-tile {
    width: 347px;
    height: 78px;

    &__shop-info {
        width: 265px;
    }

    &__name {
        margin: 0 10px 2px 0;
    }

    &__address {
        line-height: 20px;
    }
}