/* 320 + */
.b-stores-tile {
    display: inline-block;
    width: 230px;
    height: 100px;
    margin-right: 10px;
    margin-top: 0;

    &__link {
        width: 230px;
    }

    &__name {
        font-size: 13px;
        line-height: 17px;
        margin: 0 40px 4px 0;
        white-space: normal;
        display: block;
    }

    &__address {
        line-height: 16px;
        white-space: normal;
        display: block;
    }

    &__shop-info {
        width: ~"calc(100% - 36px)";
    }

    &:last-child {
        margin-right: 0px;
    }
}