/* 320 + */
.b-registration-popup {
    max-width: none;
    display: block;

    &--done {
        display: flex;
        // max-width: 380px;
        padding: 15px;
    }

    &__block {
        width: 100%;

        &--half-right {
            display: none;
        }
    }

    &__add-text {
        &--done {
            max-width: 360px;
        }
    }
}