/* 1440 + */
.b-feature {

    &__item {
        margin-bottom: 12px;

    }

    .b-icon {
        font-size: 30px;
        line-height: 30px;
    }

    &__text {
        width: ~"calc(100% - 40px)";
        margin-left: 12px;
        .roboto-regular;
        font-size: 13px;
        line-height: 18px;
        display: inline-block;
        vertical-align: middle;
        color: @cl-font-main;
    }
}