/* 320 + */
.b-cart-page {
    &__content {
        margin: 0;
        padding: 0;
    }

    &__group {
        &--payment {
            margin: 0 0 9px;
            // padding: 24px 0 0;
            width: 100%;
            padding: 23px 0 3px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &--city {
            margin-bottom: 17px;
        }

        &--button-order {
            padding-top: 0;
        }

        &--short {
            padding-right: 0;
        }
    }

    &__wrapper {
        padding: 26px 15px;
        margin-bottom: 10px;

        &--order {
            display: block;
            width: auto;
            padding: 15px;
            margin: 0 -15px 20px;
        }

        &--way-get {
            padding: 9px;
            width: 100%;
        }

        &--cart-help {
            margin-top: 0;
            margin-bottom: 0;
            padding: 10px 0 0;
        }

        &--basket {
            padding: 0;
        }
    }

    &__column {
        &--step-one-right {
            display: block;
        }
        &--mobile-hide {
            display: none;
        }
        &--info-done {
            width: 100%;
        }
    }

    &__form {
        margin: 0 -15px;
    }

    &__wrap {
        &--order-left {
            width: 100%;
            padding-right: 0;
        }
        &--order-right {
            width: 100%;
            padding-left: 0;
        }
    }

    &__order-delivery {
        padding-top: 0;
    }

    &__paragraph {
        &--confidential {
            margin-top: 24px;
        }

        &--done {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    &__order {
        &--basket {
            padding: 15px;
            margin-bottom: 20px;
        }
    }
}
