/* 768 + */
.b-person{
    padding-left: 0;
    &:before {
        display: none;    }

    &__item{
		&--size {
    		min-width: auto;
    	}
	}

    &__account-text {
        padding-left: 14px;
    }

    &__account {
        padding-left: 0;
    }

    &__top-compare-link {
        display: inline-block;
        padding: 12px 6px 7px 4px;
    }

    &__top-favorites-link {
        display: inline-block;
        padding: 12px 4px 7px 6px;
    }
}
