/* 320 + */
.b-pick-model-block {
    // display: none;
        margin: 0;
        overflow: hidden;
        padding-bottom: 20px;
        padding-top: 22px;

    &--sale {
        display: block;
        margin-bottom: 20px;
    }

    &--stores {
        margin-bottom: 20px;
        padding-top: 0;
    }

    &--brand-list {
        display: flex;
        margin: 0 0 30px;
    }
    
    & .slick-list {
        padding: 0px;
        margin: 0 -2px;
    }
}