/* 1440 + */
.b-pick-model-block {
    padding-top: 42px;
    font-size: 0;
    margin: 0 -15px 20px;
    position: relative;
    // overflow: hidden;

    &--sale {
        margin: 0 0 49px 0;
        padding-top: 29px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        & .slick-list {
            margin: 0 auto;
        }
    }

    &--city-one {
        padding-top: 0;
        padding-bottom: 20px;
        margin: 0 15px;
    }

    & .slick-list {
        // max-width: 1024px;
        // margin: 0 -15px;
        overflow: hidden;
    }

    .slick-track {
        margin: 0 auto;
    }

    .slick-active:only-child {
        display: none;
    }
}