/* 320 + */
.b-size-popover {
    width: ~"calc(100vw - 31px)";

    &__column {
        width: 100%;
        padding: 0px 5px 0 12px;
    }

    &__element {
        width: 100%;
        line-height: 1.3;
    }
}