/* 320 + */
.b-fixed-tab-product {
    &__column {
        &--content {
            display: inline-block;
            width: 100%;
        }

        &--aside {
            display: none;
            // margin-top: 7px;
            // width: 140px;
        }
    }
}