/* 1440 + */
.b-brand-list {
    padding: 0;

    .b-brand-wrapper--menu & {
        font-size: 14px;
    }

    &__item {
        list-style-type: none;
        margin: 0 0 3px;
        position: relative;
    }

    &__link {
        .b-brand-wrapper--menu & {
            color: @cl-font-main;
            font-size: 15px;
            .roboto-regular();
        }
    }
}