/* 320 + */
.b-set-item {
    position: relative;

    &__more-link {
        display: none;
    }

    &__compare {
        width: 100%;
    }

    &__sing {
        left: 50%;
        display: inline-block;
        vertical-align: top;
        margin-top: -42px;
        width: 42px;
        height: 42px;
        font-size: 37px;
        line-height: 42px;

        &--first {
            top: 150px;
        }
        &--second {
            top: 150px*2;
        }
        &--third {
            top: 150px*3;
        }
    }

    &__equel {
        padding: 25px;
    }
}