/* 768 + */
.b-set-item {
    margin-left: 0px;
    margin-right: 0px;

    &.slick-slide {
        & {
            opacity: 0;
        }
    }
    &.slick-current {
        & {
            opacity: 1;
        }
    }
}