/* 768 + */
.b-menu-cart {
    &__item {
        &--search {
            padding: 19px 32px;
            height: 198px;
        }
    }

    &__image {
        margin: 0 0 29px;
        max-height: 120px;
    }
}