/* 1440 + */
.b-map {
    &--stores-pvz-few {
        width: 100%;
        height: 780px;
        
        background-color: tomato;

        .b-stores-pvz__wide & {
            height: 50vh;
        }
    }

    &--contacts-map {
        width: 100%;
        height: 500px;
        background-color: tomato;
    }

    &--test-tablet-show {
        display: none;
    }

    &--store-card {
        height: 207px;
    }
}
