/* 768 + */
.b-map {
    &--stores-pvz-few {
        height: 300px;
        margin-bottom: 30px;

        .b-stores-pvz__wide & {
            height: 50vh;
        }
    }

    &--test-tablet-show {
        display: block;
    }

    &--store-card {
        height: 249px;
    }
}