/* 320 + */
.b-map {
    &--stores-pvz-few {
        .b-stores-pvz__column--info & {
            height: 400px;
            margin: 0;
        }
        .b-stores-pvz__column--list > & {
            height: 400px;
            margin-bottom: 0;
            margin: 0 -15px;
            width: auto;
        }

        .b-stores-pvz--store-card & {
            height: 204px;
            margin: 0 0 22px;
        }
    }
}