/* 768 + */
.b-icon {
    &--header-top-geo {
        display: inline-block;
    }

    &--delivery,
    &--exchange {
        font-size: 26px;
    }

    &--pickpoint {
        font-size: 24px;
    }

    &--buy-set {
        width: 30px;
        height: 30px;
        line-height: 30px;

        &:before {
            font-weight: bold;
        }
    }

    &--arrow-compare {
        .icon-size(16px);
        line-height: 45px;
        width: 47px;
    }

    .b-mobile-nav__link & {
        &:before {
            vertical-align: middle;
        }
    }

    &--product-item {
        font-size: 18px;
        line-height: 18px;
    }

    &--nav-sale {
        .b-menu-cart__item--search & {
            font-size: 82px;
            height: 82px;
            line-height: 82px;
            margin: 0 0 15px;
            width: 82px;
        }
    }

    &--accordion {
        right: 20px;
    }
}