/* 1440 + */
.b-brand-card-slider {
    &__list {
        display: inline-block;
        position: relative;
        text-align: center;
        width: 100%;

        & .slick-list {
            overflow: hidden;
        }
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        height: 419px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover;';
        }
    }
}