/* 320 + */
.b-press-article {
    &__picture-wrap {
        height: 205px;
        margin-bottom: 27px;
    }

    &__wrapper {
        padding-bottom: 33px;
        & p {
            font-size: 13px;
            line-height: 18px;
        }
    }
}