/* 1440 + */
.b-press-article {
    background-color: @background-section;
    margin-bottom: 30px;

    &__wrap {
        padding-top: 24px;
    }

    &__wrapper {
        width: 800px;
        padding-bottom: 38px;
        padding-top: 38px;

        & p {
            font-size: 15px;
            line-height: 24px;
            margin-bottom: 23px;
        }
    }

    &__picture-wrap {
        width: 800px;
        height: 557px;
        margin-bottom: 24px;
        padding-top: 25px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}