/* 1440 + */
.b-product-popup {
    background-color: @cl-font-white;
    height: 100%;
    margin: auto;
    min-height: 600px;
    padding: 1px 1px;
    position: relative;
    width: 1170px;

    &__inner {
        display: block;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    &__preview {
        display: inline-block;
        left: 30px;
        max-width: 92px;
        overflow: hidden;
        padding: 50px 0;
        position: absolute;
        text-align: center;
        top: 25px;
        width: 92px;
        z-index: 1;

        & .slick-list {
            overflow: hidden;
            padding: 0 !important;
        }

        & .slick-current {
            border-color: #f93;
        }
    }

    &__image {
        align-items: center;
        background: #fff;
        border: 1px solid #ccc;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 92px;
        justify-content: center;
        margin: 0 0 10px;

        @media(min-width: 768px) {
            width: 92px !important;
        }

        & > img {
            font-family: 'object-fit: contain;';
            height: 71px;
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
            width: 71px;
        }
    }

    &__view {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__image-view {
        display: none;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        position: relative;
        text-align: center;
        vertical-align: middle;

        &.active {
            display: block;
        }

        & > img {
            display: inline-block;
            height: auto;
            margin: 0 auto;
            max-height: 100%;
            max-width: 100%;
            vertical-align: middle;
            width: auto;

            &.zoomImg {
                cursor: zoom-in;
            }
        }
    }
}