/* 1440 + */
.b-buy-cheaper-popup {
    background: @background-section;
    padding: 40px;
    position: relative;
    width: 380px;

    &__group {
        margin: 0 0 20px;
    }

    &__text {
        margin: 0 0 30px;

        & > p {
            .roboto-regular;
            color: @cl-font-main;
            font-size: 13px;
            line-height: 19px;
            margin: 0 0 10px;
        }

        &--small {
            margin: 0;

            & > p {
                color: @cl-font-light;
                font-size: 11px;
                line-height: 15px;
                margin: 0;
            }
        }
    }
}