/* 320 + */
.b-brand-info {
    &--brand-wrapper {
        left: 50%;
        margin: 0 0 0 -118px;
        top: 165px;
        position: fixed;
    }

    .b-brand-list__item:hover & {
        display: none;
    }
}