/* 320 + */
.b-pick-model-block .b-slick-dots {
    height: 0;
    bottom: 10px;
}

.b-product-slider__list--main .b-slick-dots {
    white-space: nowrap;
    overflow: hidden;
}

.b-brand-card-slider__list .b-slick-dots {
    white-space: nowrap;
    overflow: hidden;
}

.b-brand-slider .b-slick-dots li{
    width: 8px;
    height: 8px;
}

.b-brand-slider .b-slick-dots {
    bottom: 1px;
}

.b-brand-slider .b-slick-dots li {
    display: none;
}

.b-brand-slider .b-slick-dots li:nth-child(1) {
    display: inline-block;
}

.b-brand-slider .b-slick-dots li:nth-child(2) {
    display: inline-block;
}

.b-brand-slider .b-slick-dots li:nth-child(3) {
    display: inline-block;
}

.b-brand-slider .b-slick-dots li:nth-child(4) {
    display: inline-block;
}

.b-brand-slider .b-slick-dots li:last-child {
    display: inline-block;
}
