/* 320 + */
.b-filter-form {
    width: calc(~'50% - 5px');

    &--search-result {
        width: auto;
    }

    &__title {
        display: none;
    }

    &__wrap {
        width: 100%;

        &:before {
            right: 9px;
            top: 10px;
        }
    }

    &--in-shop {
        width: 100%;
        margin-bottom: 10px;
    }
}
