//- ====================
//- about
//- 03-07-2018: sashakasha
//- --------------------
//- О компании
//- ====================

mixin about()
    +b.about
        +e.wrapper.js-about-desktop
            +e.desc
                +e.text.js-about-mobile
                        p История компании Робинзон.ру началась в&nbsp;1993&nbsp;году. Вот уже более 20&nbsp;лет мы&nbsp;являемся одной из&nbsp;ведущих фирм в&nbsp;сфере багажа, кожгалантереи и&nbsp;аксессуаров.
                        p Магазин Robinzon&nbsp;&mdash; это мультибрендовый магазин, в&nbsp;котором представлены известные и&nbsp;проверенные временем европейские и&nbsp;американские марки. Всегда в&nbsp;наличии дорожные сумки и&nbsp;чемоданы Samsonite, Roncato, Delsey, Heys, Ricardo и&nbsp;American Tourister, рюкзаки Wenger и&nbsp;Dakine, спортивные и&nbsp;молодежные сумки Hedgren, мужские портфели, портмоне, аксессуары Dr.Koffer, Sergio Belotti и&nbsp;многое другое.

                +e.banner.js-about-banner
                    include brand-card-slider.pug
                    +brand-card-slider('images/content/american-tourister-card-1.jpg', 'images/content/american-tourister-card-1.jpg', 'images/content/american-tourister-card-1.jpg').--about

                +e.text
                        p С&nbsp;2013 года Робинзон.ру&nbsp;&mdash; это еще и&nbsp;удобный интернет-магазин чемоданов, сумок, рюкзаков и&nbsp;разнообразных аксессуаров. Теперь Вы&nbsp;можете выбрать все, что Вам необходимо для путешествия, не&nbsp;выходя из&nbsp;дома, использовать любой удобный Вам способ оплаты, а&nbsp;мы&nbsp;оперативно доставим Ваш заказ по&nbsp;Москве, Санкт-Петербургу или в&nbsp;один из&nbsp;60&nbsp;других городов России курьерской службой. Также доставляем в&nbsp;любую точку России EMS Почтой.
                        p Имея за&nbsp;плечами 20-летний опыт и&nbsp;изучив все тонкости, мы&nbsp;поможем Вам подобрать именно тот чемодан или сумку, которую&nbsp;Вы давно искали. Совершая покупку в&nbsp;магазине Робинзон, Вы&nbsp;можете быть уверены в&nbsp;профессиональной консультации специалистов и&nbsp;высоком качестве товаров.