//- ====================
//- Robinzon: about-us
//- 18-01-2018: Amed
//- --------------------
//- О нас
//- ====================

mixin about-us()
    +b.about-us
        +e.column--left
            include ui-kit/title.pug
            +title('h1', 'Интернет-магазин чемоданов Робинзон.').--block.--about-us
                +e('span').new-line Все чемоданы находятся здесь!

            +e.content
                p В мультибрендовых магазинах Робинзон представлены товары всемирно известных и проверенных временем брендов. Всегда в наличии дорожные сумки и чемоданы Samsonite, Rimowa, Bric's, Titan, Travelite, Delsey, Roncato, Ricardo Beverly Hills и American Tourister, рюкзаки Wenger, Herschel Supply Co, Ogio, Dakine, женские сумки Lipault, спортивные и молодежные сумки Hedgren, бизнес ассортимент: мужские портфели и портмоне Tumi, Victorinox и многое другое.
                p История компании Робинзон.ру началась в 1993 году. Вот уже более 20 лет мы являемся одной из ведущих фирм в сфере багажа, кожгалантереи и аксессуаров.
                p Робинзон.ру — удобный интернет-магазин чемоданов, сумок, рюкзаков и разнообразных аксессуаров. Вы можете выбрать все, что Вам необходимо для путешествия, не выходя из дома, использовать любой удобный Вам способ оплаты,  а мы оперативно доставим Ваш заказ по Москве, Санкт-Петербургу или в один из 60 других городов России курьерской службой. Также доставляем в любую точку России EMS Почтой.
                p Имея за плечами 20-летний опыт и изучив все тонкости, мы поможем Вам подобрать именно тот чемодан или сумку, которую Вы давно искали. Совершая покупку в магазине Робинзон, Вы можете быть уверены в профессиональной консультации специалистов и высоком качестве товаров.

        +e.column--right
            //- Банер выбора модели
            include pick-model.pug
            +pick-model('images/content/bag-pick-1.jpg')