//- ====================
//- Robinzon: brand-slider
//- 18-01-2018: Amedomary
//- --------------------
//- brand-slider
//- ====================

mixin brand-slider()
    +b.brand-slider( class!=attributes.class )
        //- бренды +brand(src, title)
        include brand.pug
        +brand('images/content/samsonite-logo.jpg', 'samsonite')
        +brand('images/content/rimowa-logo.jpg', 'rimowa')
        +brand('images/content/travelite-logo.jpg', 'travelite')
        +brand('images/content/hedgren-logo.jpg', 'hedgren')
        +brand('images/content/roncato-logo.jpg', 'roncato')
        +brand('images/content/brics-logo.jpg', "bric's")
        +brand('images/content/samsonite-logo.jpg', 'samsonite')
        +brand('images/content/rimowa-logo.jpg', 'rimowa')
        +brand('images/content/travelite-logo.jpg', 'travelite')
        +brand('images/content/hedgren-logo.jpg', 'hedgren')
        +brand('images/content/roncato-logo.jpg', 'roncato')
        +brand('images/content/brics-logo.jpg', "bric's")