//- ====================
//- brand-card-slider
//- 05-06-2018: sashakasha
//- --------------------
//- American Tourister
//- ====================

mixin brand-card-slider(...srcs)
    +b.brand-card-slider(class!=attributes.class).js-brand-card-banner
        +e.list.js-brand-card-slider
            each src in srcs
                +e.item
                    +e('img').image(src=src, alt='', title='')