//- ====================
//- cart-empty
//- 07-06-2018: sashakasha
//- --------------------
//- Корзина пуста
//- ====================

mixin cart-empty()
    +b.cart-empty
        +e.text
            p В корзине нет товаров.
            p Воспользуйтесь нашим каталогом, чтобы ее заполнить.
    include menu-cart.pug
    +menu-cart('js-horizontal-scroll', 'Чемоданы', 'Рюкзаки', 'Сумки', 'Аксессуары', 'Товары со скидками')