//- ====================
//- Project: Лого
//- 24-01-2018: Mia
//- --------------------
//- Лого
//- ====================

mixin header-logo()
    +b('a')(href="javascript:void(0);" title="").top-logo
        +e('img').img(src=`images/inhtml/logo_25_year.svg`, alt='', title='')