//- ====================
//- Project: menu-desktop-brand
//- 27-06-2018: Mell.Blimm
//- --------------------
//- Выпадающее меню - бренды
//- ====================
mixin menu-desktop-brand()
    +b.menu-desktop.js-menu-desktop-aim
        .b-container
            include brand-wrapper-menu.pug
            +brand-wrapper-menu()
