//- ====================
//- Robinzon: social
//- 18-01-2018: Amedomary
//- --------------------
//- Список соц ссылок
//- ====================

mixin pay()
    +b.pay
        +e('a').link(href="javascript:void(0);",title="Visa")
            +e('img').visa(src="images/inhtml/visa_ico.svg", alt="Visa", title="Visa")
        +e('a').link(href="javascript:void(0);", title="Master_card")
            +e('img').mastercard(src="images/inhtml/master_card_ico.svg", alt="Master_card", title="Master_card")