//- ====================
//- 07-06-2018: Amedomary
//- --------------------
//- pvz-info
//- ====================

mixin pvz-info(data)
    +b.pvz-info(class!=attributes.class)
        include ui-kit/title.pug
        +title('h2', 'м. «Пролетарская», ул. Воронцовская, д. 49/28, строение 1, 4 этаж.').--pvz-info
        
        +e('dl').list
            +e('dt').description-title Режим работы: 
            +e('dd').description Пнд – птн:  с 10:00 до 22:00, сб и вс: с 11:00 до 20:00 
            +e('dt').description-title Телефон: 
            +e('dd').description 8 (495) 662-99-70 

        +e.wrap.--map
            +e.map#id-map-pvz-one-94726152
            +e('img').image(src='images/content/stores-premier.jpg', alt='', title='')
        
        +title('h3', 'Как добраться').--pvz-info-small
        +e.text
            p Следует обратить внимание на то, что станция «Обнинское» — одна из немногих станций Киевского направления, на которой установлены турникеты. Проход через них осуществляется с помощью билета со штрих-кодом, или транспортной карты.
            p Платформа основательно огорожена. Около турникетов дежурит вооружённая охрана. Периодически (особенно во время стоянки электропоездов) охрана также патрулирует платформу, пресекая попытки перелезть через ограждение и попытки спрыгнуть с платформы для того, чтобы по «заячьей тропе» обойти его.






