//- ====================
//- Robinzon: review-wrapper
//- 10-07-2018: Dima
//- --------------------
//- Блок отзывов
//- ====================

mixin review-wrapper()
    +b.review-wrapper
        include review-item.pug
        +review-item({'items': [{
                        'title': 'Прекрасный сервис и магазин',
                        'date': '12 ноября 2018',
                        'content': 'Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор. Позвонили сразу же, приятное общение с менеджером. Получили подарок! Доставили чемодан в срок. Курьер все проверил. Потрясающий сервис. Спасибо вам огромное  за эти незабываемые впечатления! Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор. Позвонили сразу же, приятное общение с менеджером. Получили подарок! Доставили чемодан в срок. Курьер все проверил. Потрясающий сервис. Спасибо вам огромное  за эти незабываемые впечатления!',
                        'name': 'Татьяна Попова, Москва',
                        'more': true
                    }, {
                        'title': 'Прекрасный сервис и магазин',
                        'date': '12 ноября 2018',
                        'content': 'Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор. Позвонили сразу же, приятное общение с менеджером. Получили подарок! Доставили чемодан в срок. Курьер все проверил. Потрясающий сервис. Спасибо вам огромное!',
                        'name': 'Татьяна Попова, Москва'
                    }, {
                        'title': 'Быстро и качественно',
                        'date': '12 ноября 2018',
                        'content': 'Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор.',
                        'name': 'Оксана, Кострома'
                    }, {
                        'title': 'Быстро и качественно, особенно если в две строки будет11.',
                        'date': '12 ноября 2018',
                        'content': 'Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик. Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик.',
                        'name': 'Евгеника, Чeбоксары',
                        'more': true
                    }, {
                        'title': 'Быстро и качественно',
                        'date': '12 ноября 2018',
                        'content': 'Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор.',
                        'name': 'Оксана, Кострома'
                    }, {
                        'title': 'Прекрасный сервис и магазин',
                        'date': '12 ноября 2018',
                        'content': 'Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор. Позвонили сразу же, приятное общение с менеджером. Получили подарок! Доставили чемодан в срок. Курьер все проверил. Потрясающий сервис. Спасибо вам огромное!',
                        'name': 'Татьяна Попова, Москва'
                    }, {
                        'title': 'Быстро и качественно',
                        'date': '12 ноября 2018',
                        'content': 'Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор.',
                        'name': 'Оксана, Кострома'
                    }, {
                        'title': 'Спасибо за оперативность!!!',
                        'date': '12 ноября 2018',
                        'content': 'Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор. Позвонили сразу же, приятное общение с менеджером. Получили подарок! И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор. Позвонили сразу же, приятное общение с менеджером. Получили подарок! Доставили чемодан в срок. Курьер все проверил. Потрясающий сервис. Спасибо вам огромное  за эти незабываемые впечатления!   Свернуть',
                        'name': 'Ирина, Санкт-Петербург',
                        'more': true
                    }, {
                        'title': 'Спасибо за оперативность!!!',
                        'date': '12 ноября 2018',
                        'content': 'Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор. Позвонили сразу же, приятное общение с менеджером. Получили подарок! И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор. Позвонили сразу же, приятное общение с менеджером. Получили подарок!',
                        'name': 'Ирина, Санкт-Петербург'
                    }, {
                        'title': 'Спасибо за оперативность!!!',
                        'date': '12 ноября 2018',
                        'content': 'Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор. Позвонили сразу же, приятное общение с менеджером. Получили подарок! И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор. Позвонили сразу же, приятное общение с менеджером. Получили подарок!',
                        'name': 'Ирина, Санкт-Петербург'
                    }
                ]})

    .b-review-button  <!-- Стили в review-wrapper -->
        include ui-kit/button.pug
        +button('Показать еще', '', true).--review-button