//- ====================
//- Project: top ya market
//- 16-01-2018: Mia
//- --------------------
//- Топ меню
//- ====================

mixin top-ya-market()
    +b.ya-market
        +e("a")(href="javascript:void(0);", title="").link
            +e("img")(src="images/inhtml/ya-market-top.png").img