//- ====================
//- Project: top-menu
//- 16-01-2018: Mia
//- --------------------
//- Топ меню
//- ====================
mixin top-menu(...items)
    +b('ul').top-menu
        each item in items
            +e('li').item
                +e('a')(href="javascript:void(0);", title="").link=item
