/* 320 + */
.b-corp {
    padding: 27px 0 10px;

    &__text {
        margin: 0 0 48px;
    }

    h2 {
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 5px;
    }

    ul {
        margin: 0 0 38px;
    }
}