/* 768 + */
.b-corp {
    padding: 27px 0 5px;

    &__text {
        p {
            font-size: 13px;
            line-height: 18px;
            margin: 0 0 18px;
        }

        a {
            font-size: 13px;
            line-height: 18px;
        }
    }

    h2 {
        font-size: 20px;
    }

    ul {
        margin: 0 0 36px;
    }

    li {
        font-size: 13px;
        padding: 0 0 0 12px;
    }
}