//- ====================
//- RBZ: hr
//- 16.01.2018: Amedomary
//- --------------------
//- Горезонтальная линия разделения
//- ====================

mixin hr()
    +b('hr').hr( class!=attributes.class )