//- ====================
//- 4lapy: label
//- 30-10-2017: Amedomary
//- --------------------
//- Кружок скидки/хита и тд
//- ====================

mixin label(text)
    +b.label( class!=attributes.class )
        | #{text}