//- ====================
//- RBZ: question
//- 01-02-2018: drtvader
//- --------------------
//- вопрос
//- ====================

mixin question()
    +b.question(href="javascript:void(0);" title="" class!=attributes.class).js-tooltip ?