//- ====================
//- 4lapy: text block
//- 30-10-2017: Amed
//- --------------------
//- текстовый
//- ====================

mixin text-block()
    +b.text-block(class!=attributes.class)
        block