/* 1440 + */
.b-container {
    width: 1290px;
    margin: 0 auto;

    &--suitcase {
        position: relative;
    }
}


.category-description {
    width: 1290px;
    margin: 0 auto;
    padding-top: 65px;
}

#ptable {
    background-color: @cl-white;
    padding: 60px 70px;
}