/* 768 + */
.b-container {
    width: 100%;
    padding: 0 20px;

    &--recommended {
        width: 100vw;
    }
}

.category-description {
    width: 100%;
    padding: 0 20px;
}

#ptable {
    padding: 20px;
}