/* 320 + */
.b-container {
    padding: 0 15px;

    &--mobile-hide {
        display: none;
    }

    &--fixed-tab {
        width: auto;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &--compare {
        padding: 0;
    }

    .b-filter{
        display:none;
    }
}

.category-description {
    padding: 0 15px;
}

#ptable {
    padding: 15px;
}