.b-tab-delivery-map {
    transform: translateX(300%);
    transition: transform 0.3s;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: calc(~"100% - 810px");
    flex-grow: 1;
    border-left: none;
    overflow: hidden;

    &.show-map {
       transform: translateX(0px);
       position: relative;
    }

    &__list {
        padding: 0;
    }

    &__block-map {
        width: 100%;
        height: 100%;
        position: relative;
    }


    &--big &__baloon {
        display: none;
    }

    &__map {
        width: 100%;
        height: 100%;
    }
}