/* 768 + */
.b-store-item {
    max-height: none;
    margin: 0 10px 20px;
    width: calc(~'(100% - 60px) / 3');

    &__wrapper {
        height: 100%;
        padding: 27px 21px;

        .no-touchevents &:hover,
        .touchevents &:active {
            box-shadow: none;
        }
    }

    &__info {
        display: block;
        margin: 18px 0 0;
        padding: 0;
        opacity: 1;
        transform: none;
    }

    &__text {
        height: 35px;
        width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        .b-store-item__info & {
            display: none;
        }
    }
}