/* 320 + */
.b-discount-label {
    padding: 4px 8px;
    font-size: 15px;
    line-height: 17px;

    &:before {
        border: 13px solid transparent;
        border-right: 9px solid #fc9425;
        left: -21px;
    }

    &:after{
        top: 10px;
    }
}