/* 768 + */
.b-brand-wrapper {
    &__head {
        display: block;
        padding: 28px 0 31px;
    }

    &__alphabet {
        margin: 0;
        width: 100%;
    }

    &__filter {
        width: 100%;
    }

    &__tag {
        // overflow-x: auto;
        // overflow-y: hidden;
        overflow: hidden;
        white-space: nowrap;
    }
}