/* 320 + */
.b-brand-wrapper {
    &__head {
        margin: 0 -15px;
        padding: 18px 0 21px;
    }

    &__alphabet {
        position: relative;
        padding-right: 20px;

        &:after {
            // background: linear-gradient(to right, @cl-alpha-white-brand-transparent 0%, @cl-alpha-white-brand 50%, @cl-alpha-white-brand 100%);
            // bottom: 0;
            // content: '';
            // position: absolute;
            // right: 0;
            // top: 0;
            // width: 40px;
            display: none;
        }
    }

    &__tag {
        padding: 0 15px;
    }

    &__body {
        margin: 0 -15px;
        padding: 0 0 63px;
        position: relative;
        width: ~'calc(100% + 30px)';
    }
}