/* 320 + */
.b-footer {
    border-top: 1px solid @hr-main;

    &--margin {
        margin-top: 30px;
    }

    &__info {
        padding-top: 31px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 16px;
        text-align: left;
    }

    &__subscribe {
        display: none;
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 11px;
        // height: 128px;
    }

    &__copyright {
        width: auto;
    }

    &__text {
        font-size: 12px;
        margin-bottom: 9px;
        line-height: 18px;
    }

    &__wrap {
        margin-bottom: 15px;
        // margin-right: 18px;
        width: 100%;
    }

    &__link-wrap {
        margin-left: 0px;
    }

    &__column {
        padding-top: 0px;
        display: inline-block;
        margin-right: 0px;
        margin-left: 0;
    }

    &__social {
        margin: 0px 0px 12px 0px;
    }

    &__pay {
        margin: 0px;
        display: block;
    }

    &__title {
        font-size: 12px;
    }
}
