/* 768 + */
.b-footer {

    &__info {
        margin-bottom: 25px;
        text-align: center;
        padding-top: 36px;
        flex-wrap: wrap;
    }

    &__text {
        display: block;
        width: auto;
    }

    &__copyright {
        display: block;
        width: 502px;
    }

    &__bottom {
        // height: 93px;
    }

    &__column {
        display: inline-flex;
        width: auto;
        padding-top: 26px;
        text-align: left;
        margin-right: 290px;
        padding-top: 14px;

        margin-left: 0;
    }

    &__social {
        margin: 0px 56px 0px 0px;
        display: inline-block;
        vertical-align: top;
    }

    &__pay {
        margin:0px;
        display: inline-block;
        vertical-align: top;
    }

    &__wrap {
        width: 100%;
        display: flex;
    }
}
