/* 1024 + */
.b-footer {
    &__wrap {
        margin-right: 0px;
    }

    &__text {
        width: 588px;
    }

    &__column {
        width: auto;
    }

    &__social {
        margin: 0px 0px 15px 0px;
    }

    &__pay {
        margin: 0px 0px 15px 0px;
    }
}