/* 768 + */
.b-delivery {
    &__block {
        padding: 24px 20px 20px;
    }

    &__desc {
        margin: 0 0 18px;
    }

    &__desc p {
        line-height: 18px;
    }

    &__text {
        line-height: 24px;
    }

    &__desc p,
    &__text, {
        font-size: 13px;
    }
}