/* 320 + */
.b-pagination {
    .b-product-list + & {
        margin-top: 30px;
    }
    
    margin-left: -15px;
    margin-right: -15px;

    &__link {
        width: 31px;
        height: 31px;
        line-height: 32px;
    }

    &__page-change {
        width: 32px;
        height: 32px;
        line-height: 32px;

        &--prev {
            &:before {
                right: 6px;
                top: 11px;
            }

            &:after {
                right: 5px;
                top: 13px;
            }
        }

        &--next {
            &:before {
                right: 22px;
                top: 12px;
            }

            &:after {
                right: 21px;
                top: 12px;
            }
        }
    }

    &__item {
        padding: 0px;

        &--dot {
            display: none;
        }

        &--prev,
        &--next {
            padding: 0px;
        }
    }
}