/* 320 + */
.b-brand-card {
    padding: 20px 0 20px;

    &__wrapper {
        flex-wrap: wrap;
    }

    &__about {
        flex-wrap: wrap;
        margin: 0 0 34px;
        width: 100%;
    }

    &__group {
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 0 20px;
    }

    &__info {
        margin: -8px 0 0;
        min-width: 143px;
        width: auto;
    }

    &__logo {
        margin: 0 auto 0;
        padding: 8px 25px;
        max-width: 263px;
        min-width: 126px;
    }

    &__stats {
        font-size: 14px;
        line-height: 30px;
    }

    &__desc {
        margin: auto;
        & > p {
            font-size: 14px;
        }
    }

    &__banner {
        width: 100%;
    }
}