/* 320 + */
.b-recommended {
    &__content-main {
        display: none;
    }

    &__content {
        width: 100vw;
        margin: 0 -15px;
        padding: 0 15px;
    }

    &__content-slave {
        text-align: center;
    }

    &--sale {
        padding: 0;
    }
}
