/* 768 + */
.b-subscribe {
    display: block;
    text-align: center;
    width: auto;
    // height: 116px;
    height: auto;
    min-height: 111px;
    padding-bottom: 10px;

    &__text {
        padding-top: 20px;
    }

    &__form {
        padding-top: 15px;
    }
}