/* 1440 + */
.b-subscribe {
    display: flex;
    align-items: center;
    width: 981px;
    margin: 0 auto;
    height: 86px;

    &__text {
        font-size: 16px;
        line-height: 26px;
        .roboto-medium;
    }

    &__form {
        margin-left: auto;
    }
}