/* 320 + */
.b-compare {
    &__cell {
        width: 50%;

        &--heading {
            padding: 10px 10px 20px;
        }

        &--fixed {
            .b-compare__close {
                opacity: 1;
            }
        }
    }

    &__image {
        margin-top: 20px;
        height: 140px;

        &--fixed {
            height: 60px;
            margin: 0;
        }
    }

    &__close {
        top: 0px;
        right: 8px;
    }

    &__slider-count {
        display: block;
    }

    &__dot-counter-wrapper {
        display: none;
    }

    &__arrow {
        position: fixed;
        margin-top: 0px;
    }
}