/* 1440 + */
.b-stores-pvz {
    font-size: 0;
    margin-bottom: 30px;

    &__column {
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        width: 50%;

        &--wide {
            
        }

        &--list {
            padding-right: 15px;
        }

        &--info {
            padding-left: 15px;
        }
    }

    &__wide {
        width: 100%;
    }
}