/* 1440 + */
.b-article-list {
    &__wrapper {
        font-size: 0;
        margin: 0 -10px;
        padding: 0;

        height: 510px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}