/* 320 + */
.b-article-list {
    &__wrapper {
        display: block;
        height: auto;
        overflow-x: auto;
        white-space: nowrap;
        margin: 0 -15px;
        padding: 0 5px;
    }
}