// 320+
.noUi {
    &-base {
        margin: 28px 15px 0;
    }

    &-horizontal &-handle {
        width: 15px;
        height: 15px;
        top: -7px;

        &-upper {
            right: -15px!important;
        }

        &-lower {
            right: -15px!important;
        }
    }
}