/* 320 + */
.b-store-card {
    &__col {
        & > p {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__desc {
        margin: 0 0 30px;
    }

    &__image {
        margin: 0 10px 0 0;
    }

    &__text {
        & > p {
            font-size: 14px;
        }
    }
}