/* 320 + */
.b-help-popup {

    &__info {
        padding: 36px 15px 13px;
    }


    &__text {
        margin-bottom: 0;
    }

    &__title {
        font-size: 18px;
    }

    &__list {
        padding: 35px 15px;
    }
}