/* 768 + */
.b-help-popup {

    &__wrapper {
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 100vh;
    }

    &__list {
        width: 100%;
        padding: 49px 15px;
        order: 2;
    }

    &__title {
        display: block;
        font-size: 22px;
        margin-bottom: 25px;
    }

    &__info {
        order: 1;
        padding: 47px 12px 40px;
    }

    &__text {
        padding-right: 0;
        min-height: auto;
        height: auto;

        p {
            font-size: 13px;
            line-height: 24px;
        }
    }
}