/* 1440 + */
.b-sticker {
    display: inline-block;
    vertical-align: top;
    padding: 7px;
    background-color: @sticker-free;

    .roboto-regular;
    font-size: 13px;
    line-height: 1;
    color: @cl-font-white;

    &--way-get {
        position: absolute;
        right: -8px;
        top: 12px;
    }
}