/* 768 + */
.b-head-strip {
    &.mobile-strip{
        display: none;
    }

    &__sub-box {
        width: 100%;
    }
    &__left-img, &__right-img {
        display: none;
    }
    &__text {
        padding-bottom: 10px;
    }
    &__text_mobile {
        display: none;
    }
}
