/* 320 + */
.b-tag {
    &--catalog-bred {
        margin-bottom: 0;
    }

    .b-tag-bar__list--popup-filter & {
        margin: 0;
        display: inline-block;
        white-space: nowrap;

        &__link {
            border: none;
            display: inline-block;
            margin-right: 10px;
        }
    }

    &__list {
        font-size: 0;
        height: 30px;
        overflow: hidden;
        padding: 0 0 50px;
        white-space: nowrap;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }
   
    
}