/* 768 + */
.b-stores {
    margin: 0 0 20px;
    
    &--nopadding {
        // margin-bottom: 70px;
    }

    &__banner {
        width: ~"calc(100% - 377px)";
    }

    &__inner {
        flex-wrap: wrap;
    }
}