/* 768 + */
.b-review-form {

    &__column {

        &--left {
            padding-right: 22px;
        }

        &--right {
            padding-left: 22px;
            font-size: 13px;
        }
    }

    &__group {
        margin-bottom: 17px;

        &--two-inside {
            flex-wrap: wrap;
        }

        &--short {
            margin-right: 0px;
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    &__contact-head,
    &__contact {
        font-size: 13px;
        line-height: 18px;
    }

    &__contact-head {
        margin-bottom: 20px;
    }

    &__contact {
        padding-left: 13px;
        margin-bottom: 10px;

        & span {
            padding-right: 55px;

            &::before {
                left: -14px;
            }
        }
    }
}