/* 320 + */
.b-review-form {
    flex-direction: column-reverse;

    &__column {
        width: 100%;

        &--left,
        &--right {
            padding: 0;
            border: none;
        }
    }

    &__group {
        &--comment {
            margin-bottom: 30px;
        }
    }

    &__contact-head,
    &__contact {
        line-height: 22px;
    }

    &__contact-head {
        padding: 0;
        margin-bottom: 25px;
    }

    &__contact {
        margin-bottom: 20px;

        & span {
            padding: 0;
        }
    }
}