/* 1440 + */
.b-header-call {
    margin: 0;
    margin: 0 5px;
    display: inline-block;
    flex: 0 0 auto;

    &__number {
        .roboto-regular;
        color: @cl-font-main;
        font-size: 16px;
    }

    &__time {
        .roboto-light;
        color: @cl-font-light;
        font-size: 13px;
        margin: 0;
    }

    &__popup {
        .roboto-regular;
        color: #000;
        margin-left: 5px;
        font-size: 13px;
        text-decoration: underline;
    }
}