/* 1440 + */
.b-geo-point {
    &--product-card {
        margin: 19px 0;
    }

    &--product-description {
        border-top: 1px solid @cl-gray-product-border;
        padding-top: 27px;
        padding-right: 30px;
    }

    &__icon-wrapper,
    &__content {
        display: inline-block;
        vertical-align: middle;
    }

    &__content {
        width: 80%;
    }

    &__icon-wrapper {
        margin-right: 10px;
    }

    &__text {
        font-size: 13px;
        line-height: 14px;
        .roboto-regular;
        color: @cl-font-light;
    }
}