/* 1440 + */
.b-about {
    padding: 30px 0 21px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__desc {
        margin: 14px 0 0;
        width: ~'calc(100% - 604px)';
    }

    &__text {
        font-size: 15px;
        line-height: 24px;

        p {
            margin: 0 0 24px;
        }
    }

    &__banner {
        width: 554px;
    }
}