/* 1440 + */
.b-top-menu {
    padding-left: 40px;
    margin-right: auto;

    &__item {
        display: inline-block;
        list-style-type: none;
        margin-right: 7px;
    }

    &__link {
        font-size: 13px;
        color: @cl-font-gray;
        text-decoration: none;
        letter-spacing: -0.3px;
        padding: 5px;

        &.active {
            color: @cl-orange-dark;
        }
    }
}