/* 320 + */
.b-review {
    &--review-page {
        width: 100%;
        max-height: 351px;
        margin-bottom: 18px;
    }

    &__content {
        &--review-page {
            max-height: 125px;
            font-size: 13px;
            line-height: 18px;
        }
    }
}