//- ====================
//- Robinzon: buy-in-shop-popup
//- 19-08-2019: Mell.Blimm
//- --------------------
//- ПопАп buy-in-shop-popup
//- ====================

mixin buy-in-shop-popup()
    include ../ui-kit/popup.pug
    include ../ui-kit/title.pug
    include ../ui-kit/input-label.pug
    include ../ui-kit/input.pug
    include ../ui-kit/input-label.pug
    include ../ui-kit/input-label.pug
    include ../ui-kit/input.pug
    include ../ui-kit/button.pug

    +b.buy-in-shop-popup
        //- Крестик
        +popup_close()
        +title('h3', 'Чемодан по суперцене можно купить только в магазине').--block.--in-shop-main

        +e.row--shop-info
            +e.column--filter
                +b.filter-form.--in-shop
                    +e('label').title--in-shop(for="select-shop") Выберите магазин:
                    +e.wrap.--in-shop
                        +b('select').select--filter.--in-shop(id='select-shop' name='select-shop')
                            +e('option') Робинзон на Пролетарской
                            +e('option') Робинзон Авиапарк
                            +e('option') Робинзон Фестиваль
                +e.shop-info
                    +e.metro-wrap
                        +e.metro-point
                            include ../ui-kit/icon.pug
                            +icon("i-metro").--in-shop.--violet
                            | Пролетарская
                        +e.metro-point
                            include ../ui-kit/icon.pug
                            +icon("i-metro").--in-shop.--green
                            | Крестьянская застава
                    +e.addr Воронцовская улица, дом 49/28, строение 1,<br>4 этаж (работает лифт).
            +e.column--product
                +b.in-basket-popup.--in-shop
                    +e.product-wrapper.--in-shop
                        +e.image-wrapper
                            +e('img').image(src="images/content/recommended-bag-2.jpg", alt='', title='').js-image-wrapper

                            +b.label.--image.--super
                                +e('img').image(src="images/inhtml/label/label_super.svg", alt)
                        +e.description
                            +e('span').des-line--mobile Чемодан Roncato4181 MODO HoustonLarge Spinner 76
                            +e('span').des-line
                                | Артикул: 
                                b 4181-09
                            include ../ui-kit/price.pug
                            +price("16 500", true, "", "руб.").--in-basket.--in-shop.--mobile

        +e.row--phone
            +title('h3', '').--block.--in-shop.--lined
                span Забронировать по телефону
            +e('a').link--in-shop(href="tel:84956629970",title="8 (495) 662-99-70") 8&nbsp;(495)&nbsp;662&ndash;99&ndash;70

        +e.row--form
            +title('h3', '').--block.--in-shop.--lined
                span ИЛИ ОФОРМИТЬ ЗАКАЗ
            +b.recall-popup.--reservation.--in-shop.js-reservation-popup
                +e('form').form(data-url='/json/reservation-popup.json' data-target='.js-reservation-popup' data-events='ee update kill').js-ajax-form
                    +e.row.--form.--desktop
                        +e.column--name
                            +input-label('Имя', 'id-recall-name')
                            +input('id-recall-name', 'text', '', 'name-member', '').--recall-popup(required="required").--reservation-popup
                                //- +input-label('Не корректная электронная почта', 'id-login-mail').--error
                        +e.column--phone
                            +input-label('Телефон', 'id-recall-phone')
                            +input('id-recall-phone', 'tel', '+7 ___ - ___ __ __', 'password-login', '').--reservation-popup.-last(required="required", class="js-phone")
                    +e.row.--form.--mobile
                        +e.column--name
                            +input-label('Имя', 'id-recall-name')
                            +input('id-recall-name', 'text', '', 'name-member', '').--recall-popup(required="required").--reservation-popup
                                //- +input-label('Не корректная электронная почта', 'id-login-mail').--error
                        +e.column--phone
                            +input-label('Телефон', 'id-recall-phone')
                            +input('id-recall-phone', 'tel', '+7 ___ - ___ __ __', 'password-login', '').--reservation-popup.-last(required="required", class="js-phone")
                    +button('Оформить заказ', '', false).--orange.--reservation-popup
                    +e('p').add-text.--small.--reservation-popup
                        | Нажимая на кнопку "Оформить заказ", Вы соглашаетесь 
                        include ../ui-kit/link.pug
                        +link('c договором оферты', '', true)
