//- ====================
//- Robinzon: for-one-click-popup
//- 15-07-2018: sashakasha
//- --------------------
//- Всплывающее окно for-one-click-popup
//- ====================

mixin for-one-click-cart-popup()
    +b.for-one-click-popup
        +popup_close()
        include ../ui-kit/title.pug
        +title('h3', 'Помогите мне оформить заказ').--login.--for-one-click.--for-one-click-cart

        +e('form').form
            +e.group
                include ../ui-kit/input-label.pug
                +input-label('Имя', 'id-for-one-click-cart-name')
                include ../ui-kit/input.pug
                +input('id-for-one-click-cart-name', 'text', '', 'name-for-one-click', '').--login.--for-one-click(required='required')
            +e.group
                include ../ui-kit/input-label.pug
                +input-label('Электронная почта', 'id-for-one-click-cart-email')
                include ../ui-kit/input.pug
                +input('id-for-one-click-cart-email', 'email', '', 'email-for-one-click', '').--login.--for-one-click.js-email(required='required')
            +e.group
                include ../ui-kit/input-label.pug
                +input-label('Телефон', 'id-for-one-click-cart-phone')
                include ../ui-kit/input.pug
                +input('id-for-one-click-cart-phone', 'tel', '+7 ___ - ___ __ __', 'phone-for-one-click', '').--login.--for-one-click(required='required')
            include ../ui-kit/button.pug
            +button('Отправить', '', false).--blue.--for-one-click
            +e.text.--small
                p Нажимая кнопку &laquo;Отправить&raquo;, я&nbsp;выражаю свое согласие на&nbsp;получение информации об&nbsp;оформлении и&nbsp;получении заказа, согласие на&nbsp;обработку персональных данных в&nbsp;соответствии с&nbsp;указанным здесь текстом.