//- ====================
//- Robinzon: help-popup
//- 27-06-2018: Mell.Blimm
//- --------------------
//- ПопАп help-popup
//- ====================

mixin help-popup()
    +b.help-popup.js-tab-block
        //- Крестик
        +popup_close()
        +e.wrapper
            +e.list
                +e.title Остались вопросы?
                include ../need-help-tab.pug
                +need-help-tab({
                            'items': [{
                                'title': 'Условия доставки',
                                'tab': 'delivery',
                            },{
                                'title': 'Способы оплаты',
                                'tab': 'payment',
                            },{
                                'title': 'Как получить промокод?',
                                'tab': 'code',
                            },{
                                'title': 'Гарантийное обслуживание',
                                'tab': 'warranty',
                            },{
                                'title': 'Возврат и обмен',
                                'tab': 'return',
                            }]
                        }).--popup-tab
            +e.info
                +e.content.js-tab-content.-active(data-tab-content="delivery")
                    include ../ui-kit/title.pug
                    +title('h3', 'Условия доставки').--block.--login.--help-popup

                    +e.text.js-help-text-scroll.js-horizontal-scroll
                        p Мы готовы доставить Ваши чемоданы и другие товары из нашего магазина Робинзон по всей России. По Москве, Санкт-Петербургу, Екатеринбургу и еще 80 городам доставка осуществляется курьером с оплатой при получении заказа или в любую точку России Почтой EMS по предоплате. 

                        p Максимальное время ожидания курьера с момента прибытия – 15 минут. 

                        p Наши менеджеры с удовольствием ответят на Ваши вопросы по телефону 8 (495) 648-69-88 и бесплатной для всех регионов линии 8 (800) 555-32-85. 

                        p 
                            | Открыто направление доставки в СНГ.
                            br
                            | Подробности уточняйте у менеджеров по тел. 8-800-555-32-85 или email: order@robinzon.ru.

                        p Доставка осуществляется международным сервисом экспресс-доставки EMS после 100% предоплаты.  Оплата возможна банковской картой на сайте или по счету для физических лиц. При заказе нескольких товаров возможность отправки заказа одной посылкой уточняйте у менеджера.

                        p Возможность доставки в другое удобное для Вас время уточняйте у менеджера - мы всегда готовы идти навстречу своим клиентам!

                        p Внимание! В случае полного или частичного (при доставке однотипных товаров) отказа от покупки при получении товара без дефектов и в полной комплектации, согласно п.4 ст.497 ГК РФ, Вы оплачиваете оказанную курьерскую услугу.

                        p Доставка осуществляется международным сервисом экспресс-доставки EMS после 100% предоплаты.  Оплата возможна банковской картой на сайте или по счету для физических лиц. При заказе нескольких товаров возможность отправки заказа одной посылкой уточняйте у менеджера.

                        p Возможность доставки в другое удобное для Вас время уточняйте у менеджера - мы всегда готовы идти навстречу своим клиентам!

                        p Внимание! В случае полного или частичного (при доставке однотипных товаров) отказа от покупки при получении товара без дефектов и в полной комплектации, согласно п.4 ст.497 ГК РФ, Вы оплачиваете оказанную курьерскую услугу.

                        p Доставка осуществляется международным сервисом экспресс-доставки EMS после 100% предоплаты.  Оплата возможна банковской картой на сайте или по счету для физических лиц. При заказе нескольких товаров возможность отправки заказа одной посылкой уточняйте у менеджера.

                        p Возможность доставки в другое удобное для Вас время уточняйте у менеджера - мы всегда готовы идти навстречу своим клиентам!

                        p Внимание! В случае полного или частичного (при доставке однотипных товаров) отказа от покупки при получении товара без дефектов и в полной комплектации, согласно п.4 ст.497 ГК РФ, Вы оплачиваете оказанную курьерскую услугу.
                +e.content.js-tab-content(data-tab-content="return")
                    include ../ui-kit/title.pug
                    +title('h3', 'Возврат и обмен').--block.--login.--help-popup

                    +e.text
                        p 2

                +e.content.js-tab-content(data-tab-content="payment")
                    include ../ui-kit/title.pug
                    +title('h3', 'Способы оплаты').--block.--login.--help-popup

                    +e.text
                        p 3

                +e.content.js-tab-content(data-tab-content="warranty")
                    include ../ui-kit/title.pug
                    +title('h3', 'Гарантийное обслуживание').--block.--login.--help-popup

                    +e.text
                        p 4

                +e.content.js-tab-content(data-tab-content="code")
                    include ../ui-kit/title.pug
                    +title('h3', 'Как получить промокод?').--block.--login.--help-popup

                    +e.text
                        p 5
