//- ====================
//- Robinzon: login-popup-password-recovery
//- 18-01-2018: Amedomary
//- --------------------
//- Восстановление пароля
//- ====================

mixin login-popup-password-recovery()
    include ../ui-kit/popup.pug
    include ../ui-kit/title.pug
    include ../ui-kit/input-label.pug
    include ../ui-kit/input.pug
    include ../ui-kit/input-label.pug
    include ../ui-kit/button.pug
    include ../ui-kit/link.pug

    +b.login-popup.--new
        //- Крестик
        +popup_close()

        +title('h3', 'Новый пароль').--login

        +e('p').add-text Чтобы сбросить пароль, введите электронную почту или телефон ниже, и следуйте инструкциям, которые мы вам отправим.

        +e('form').form(data-url='/json/password-recovery.json').js-validation-form
            +input-label('Электронная почта', 'id-password-recovery')
            +input('id-password-recovery', 'email', 'Введите почту', 'email-login-recovery', '').--login.js-email(required="required")
                +input-label('Не корректная электронная почта', 'id-password-recovery').--error

            +e.buttons.--new
                +button('Сбросить', '', false).--blue.--login-recovery
                +link('Вспомнил пароль', '', true).--reset-recovery.--underline-dot.js-open-popup(data-popup="login")