//- ====================
//- Robinzon: material-popup
//- 18-01-2018: Amedomary
//- --------------------
//- ПопАп авторизации и регистрации
//- ====================

mixin material-popup()
    +b.material-popup
        //- Крестик
        include ../ui-kit/popup.pug
        +popup_close()

        include ../ui-kit/title.pug
        +title('h3', 'Материал').--login

        include ../ui-kit/tab.pug
        +tab({'items': 
            [{
                'text': 'Мягкий багаж',
                'data': 'softLuggage'
            }, {
                'text': 'Твердый багаж',
                'data': 'solidLuggage'
            }],
            'wrapperClass': '',
            'listClass': '',
            'lineClass': ''}
        ).--material-popup
            +e.content.js-tab-content.-active(data-tab-content="softLuggage")
                include ../ui-kit/text-block.pug
                +text-block().--material-popup
                    h4 ABS-пластик
                    p Имеет хорошую прочность и высокую ударостойкость. Однако, использовать при низкой температуре не рекомендуется. Плюсом чемоданов из ABS-пластика является разнообразие цветов и невысокая стоимость.
                    h4 Полипропилен
                    p Характеризуется высокой ударостойкостью, твердостью и пластичностью. В зависимости от марки используемого материала, чемоданы из полипропилена могут быть как жесткими – на защелках, так и гибкими – на молнии.
                    h4 EVA 
                    p Легкий и упругий материал, обладает хорошо амортизирующими свойствами. Используется как основной материал, для производства жесткого багажа, или как вспомогательный, для придания жесткости мягкому багажу.
                    h4 Поликарбонат
                    p Обладает высокой эластичностью, прочностью и очень высокой ударостойкостью в том числе при низких температурах. Отличительной особенностью чемоданов из поликарбоната является малый вес.
                    h4 Curv®
                    p Революционный запатентованный материал, представляющий собой переплетенные волокна полипропилена. Чемоданы из материала Curv обладают непревзойденной прочностью, легкостью и устойчивостью.

            +e.content.js-tab-content(data-tab-content="solidLuggage")
                include ../ui-kit/text-block.pug
                +text-block().--material-popup
                    h4 ABS-пластик
                    p Имеет хорошую прочность и высокую ударостойкость. Однако, использовать при низкой температуре не рекомендуется. Плюсом чемоданов из ABS-пластика является разнообразие цветов и невысокая стоимость.

        +e.block--half-left

        +e.block--half-right
