//- ====================
//- Robinzon: review-popup
//- 18-01-2018: Dima
//- --------------------
//- ПопАп отзыва 
//- ====================

mixin review-popup()
    +b.review-popup
        //- Крестик
        include ../ui-kit/popup.pug
        +popup_close()

        include ../review.pug
        +review({'items': [{
            'title': 'Прекрасный сервис и магазин',
            'date': '12 ноября 2018',
            'content': 'Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор. Позвонили сразу же, приятное общение с менеджером. Получили подарок! Доставили чемодан в срок. Курьер все проверил. Потрясающий сервис. Спасибо вам огромное  за эти незабываемые впечатления! Заказали в интернет магазине чемодан (Wenger). И качество чемодана, и сервис просто превзошли наши ожидания. Заказ делать очень легко в один клик, сайт удобный, огромный выбор. Позвонили сразу же, приятное общение с менеджером. Получили подарок! Доставили чемодан в срок. Курьер все проверил. Потрясающий сервис. Спасибо вам огромное  за эти незабываемые впечатления!',
            'name': 'Татьяна Попова, Москва'
        }]}).--review-popup
