/* 1440 + */
.b-tooltip {
    max-width: 300px;
    padding: 14px;
    background-color: @background-popover;
    border: 1px solid @border-popover;
    border-radius: 3px;
    font-size: 13px;
    line-height: 1.5;

    p {
        margin: 0;
    }
}