.gift-certificate {

    &__wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    &__title {
        font-size: 30px;
        line-height: 35px;
        height: auto;
    }

    &__photo {
        width: 100%;
    }

    &__desc {
        height: auto;
        font-size: 25px;
        line-height: 27px;

        p {
            font-size: 25px;
            line-height: 27px;
        }
    }

    &__features {
        margin-top: 20px;
        padding: 0;
    }

    &__features-item {
        flex-basis: 100%;
    }

    &__docs {
        flex-direction: column;
    }
}

.tabs-container {
    flex-direction: column;
}

.tabs {
    width:100%;

    .shop {
        width: 100%;
    }
}

.tab_content {
    width:100%;
}