.gift-certificate {
    background-color: #fff;
    padding-bottom: 30px;

    &__wrapper {
        max-width: 1016px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        overflow: hidden;
    }

    &__header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: left;
    }

    &__photo {
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        height: 330px;
        min-height: auto;
        min-width: auto;
        text-align: left;
        text-decoration: none solid rgb(51, 51, 51);
        text-size-adjust: 100%;
        width: 467px;
        column-rule-color: rgb(51, 51, 51);
        perspective-origin: 233.5px 165px;
        transform-origin: 233.5px 165px;
        caret-color: rgb(51, 51, 51);
        border: 0px none rgb(51, 51, 51);
        flex: 0 0 45.9646%;
        font-size: 21px;//normal normal 400 normal 16px / 21.3333px PTSans-Regular, Arial, Helvetica, sans-serif;
        outline: rgb(51, 51, 51) none 0px;
        &::after {
            box-sizing: border-box;
            color: rgb(51, 51, 51);
            min-height: auto;
            min-width: auto;
            text-align: left;
            text-decoration: none solid rgb(51, 51, 51);
            text-size-adjust: 100%;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 16px / 21.3333px PTSans-Regular, Arial, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_1:after*/

        &::before {
            box-sizing: border-box;
            color: rgb(51, 51, 51);
            min-height: auto;
            min-width: auto;
            text-align: left;
            text-decoration: none solid rgb(51, 51, 51);
            text-size-adjust: 100%;
            column-rule-color: rgb(51, 51, 51);
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 16px / 21.3333px PTSans-Regular, Arial, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
        }/*#DIV_1:before*/
    
        img {
            box-sizing: border-box;
            color: rgb(51, 51, 51);
            height: 330px;
            max-width: 100%;
            text-align: left;
            text-decoration: none solid rgb(51, 51, 51);
            text-size-adjust: 100%;
            width: 467px;
            column-rule-color: rgb(51, 51, 51);
            perspective-origin: 233.5px 165px;
            transform-origin: 233.5px 165px;
            caret-color: rgb(51, 51, 51);
            border: 0px none rgb(51, 51, 51);
            font: normal normal 400 normal 16px / 21.3333px PTSans-Regular, Arial, Helvetica, sans-serif;
            outline: rgb(51, 51, 51) none 0px;
            &::after {
                box-sizing: border-box;
                color: rgb(51, 51, 51);
                text-align: left;
                text-decoration: none solid rgb(51, 51, 51);
                text-size-adjust: 100%;
                column-rule-color: rgb(51, 51, 51);
                caret-color: rgb(51, 51, 51);
                border: 0px none rgb(51, 51, 51);
                font: normal normal 400 normal 16px / 21.3333px PTSans-Regular, Arial, Helvetica, sans-serif;
                outline: rgb(51, 51, 51) none 0px;
            }/*#IMG_2:after*/
            
            &::before {
                box-sizing: border-box;
                color: rgb(51, 51, 51);
                text-align: left;
                text-decoration: none solid rgb(51, 51, 51);
                text-size-adjust: 100%;
                column-rule-color: rgb(51, 51, 51);
                caret-color: rgb(51, 51, 51);
                border: 0px none rgb(51, 51, 51);
                font: normal normal 400 normal 16px / 21.3333px PTSans-Regular, Arial, Helvetica, sans-serif;
                outline: rgb(51, 51, 51) none 0px;
            }/*#IMG_2:before*/
        }
    }

    &__title {
        box-sizing: border-box;
        color: rgb(237, 121, 0);
        //height: 146px;
        min-height: auto;
        min-width: auto;
        text-align: left;
        text-decoration: none solid rgb(237, 121, 0);
        text-size-adjust: 100%;
        text-transform: uppercase;
        //width: 549px;
        column-rule-color: rgb(237, 121, 0);
        perspective-origin: 274.5px 73px;
        transform-origin: 274.5px 73px;
        caret-color: rgb(237, 121, 0);
        border: 0px none rgb(237, 121, 0);
        font-size:73px;// normal normal 700 normal 73px / 73px PTSans-Regular, Arial, Helvetica, sans-serif;
        //margin: 0px 0px 30px;
        line-height: 80px;
        outline: rgb(237, 121, 0) none 0px;
        
       &::after {
            box-sizing: border-box;
            color: rgb(237, 121, 0);
            min-height: auto;
            min-width: auto;
            text-align: left;
            text-decoration: none solid rgb(237, 121, 0);
            text-size-adjust: 100%;
            text-transform: uppercase;
            column-rule-color: rgb(237, 121, 0);
            caret-color: rgb(237, 121, 0);
            border: 0px none rgb(237, 121, 0);
            font: normal normal 700 normal 73px / 73px PTSans-Regular, Arial, Helvetica, sans-serif;
            outline: rgb(237, 121, 0) none 0px;
        }/*#H1_1:after*/
        
       &::before {
            box-sizing: border-box;
            color: rgb(237, 121, 0);
            min-height: auto;
            min-width: auto;
            text-align: left;
            text-decoration: none solid rgb(237, 121, 0);
            text-size-adjust: 100%;
            text-transform: uppercase;
            column-rule-color: rgb(237, 121, 0);
            caret-color: rgb(237, 121, 0);
            border: 0px none rgb(237, 121, 0);
            font: normal normal 700 normal 73px / 73px PTSans-Regular, Arial, Helvetica, sans-serif;
            outline: rgb(237, 121, 0) none 0px;
        }/*#H1_1:before*/
        
    }
    
    &__desc {
        box-sizing: border-box;
        color: rgb(60, 60, 60);
        height: 124px;
        text-decoration: none solid rgb(60, 60, 60);
        text-size-adjust: 100%;
        width: 100%;
        column-rule-color: rgb(60, 60, 60);
        perspective-origin: 508px 62px;
        transform-origin: 508px 62px;
        caret-color: rgb(60, 60, 60);
        border: 0px none rgb(60, 60, 60);
        font: normal normal 700 normal 28px / 32px PTSans-Regular, Arial, Helvetica, sans-serif;
        margin: 0px auto 51px;
        outline: rgb(60, 60, 60) none 0px;
        p {
            box-sizing: border-box;
            color: rgb(60, 60, 60);
            text-decoration: none solid rgb(60, 60, 60);
            text-size-adjust: 100%;
            // width: 1016px;
            column-rule-color: rgb(60, 60, 60);
            perspective-origin: 508px 62px;
            transform-origin: 508px 62px;
            caret-color: rgb(60, 60, 60);
            border: 0px none rgb(60, 60, 60);
            font: normal normal 700 normal 28px / 32px PTSans-Regular, Arial, Helvetica, sans-serif;
            margin: 28px 0px;
            outline: rgb(60, 60, 60) none 0px;
        }
    }

    &__heading {
        color: rgb(60, 60, 60);
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        overflow: hidden;
        margin-bottom: 0px;

        & > span {
            position: relative;
            display: inline-block;

            &::after,
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                height: 1px;
                width: 600px;
                background-color: #e0e6e6;
            }

            &::before {
                right: 100%;
                margin-right: 15px;
            }
            &::after {
                left: 100%;
                margin-left: 15px;
            }
        }
    }

    &__features {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
        -webkit-box-pack: center;
        justify-content: center;
        margin: 30px -14px 16px;
        padding-top: 30px;
        border-top: 1px solid rgb(224, 230, 230);
    }
    
    &__features-item {
        flex-basis: 320px;
        margin-bottom: 24px;
        margin-left: 14px;
        margin-right: 14px;
        padding: 20px;
        background-color: rgb(239, 242, 242);
        text-align: center;
        list-style-type: none;

        p:last-child {
            margin-bottom: 0px;
        }
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    
    &__brands {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-flow: column wrap;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        img {
            margin: 5px;
        }
    }

    &__types {
        padding-top: 31px;
        padding-bottom: 31px;
        border-top: 1px solid rgb(224, 230, 230);
        border-bottom: 1px solid rgb(224, 230, 230);
    }
    
    ul {
        list-style-type: none;
    }
    
    &__nominals {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
        -webkit-box-align: center;
        align-items: center;
        margin-top: 20px;
        margin-left: -5px;
        margin-right: -5px;

        & > li {
            -webkit-box-flex: 0;
            flex: 0 0 86px;
            margin: 5px;
            padding-top: 8px;
            padding-bottom: 8px;
            border: 1px solid rgb(224, 230, 230);
            border-radius: 8px;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            list-style-type: none;
        }
    }


    &__types {
        padding-top: 31px;
        padding-bottom: 31px;
        border-top: 1px solid rgb(224, 230, 230);
        border-bottom: 1px solid rgb(224, 230, 230);
    }
}

.gift-certificate {
    &__docs {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
        -webkit-box-pack: center;
        justify-content: center;
    }

    &__download-link {
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row nowrap;
        -webkit-box-align: center;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 14px;
        margin-right: 14px;
        color: rgb(51, 51, 51);
        font-size: 18px;
        &:hover {
            text-decoration: none;
            color: rgb(89, 89, 89);
        }

        & > img {
            user-select: none;
            margin-right: 20px;
        }
    }
}

.tabs {
    width: 348px;
    border: 1px #2e3192 solid;
    & > div.active .shop {
        color: #fff;
    }
    
    & > div.active {
        background: #2e3192;
    }

    & > div {
        display: block;
        height: 78px;
        border-bottom: 1px #2e3192 solid;
    }

    & > div:hover .shop {
        color: rgb(167, 167, 167);
    }
    
    & > div.active .shop {
        color: rgb(255, 255, 255);
    }

    & > div:hover {
        background: #f2f2f2;
    }

    & .shop {
        float: left;
        width: 323px;
        padding-left: 15px;
        color: rgb(183, 183, 183);
        line-height: 100%;
        cursor: pointer;
        & .shop_name {
            display: block;
            font-size: 18px;
            padding-top: 10px;
        }
    
        & .shop_description {
            font-size: 13px;
            line-height: 100%;
        }
    }
}

.tabs-container {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}

.tabs {
    width: 348px;
    border: 1px solid rgb(46, 49, 146);
}

.tabs > div {
    display: block;
    height: 78px;
    border-bottom: 1px solid rgb(46, 49, 146);
}

.tabs > div:last-child {
    border-bottom: none;
}

.tabs > div:hover {
    background: rgb(242, 242, 242);
}

.tabs > div.active {
    background: rgb(46, 49, 146);
}

.tabs > div:hover .shop {
    color: rgb(167, 167, 167);
}

.tabs > div.active .shop {
    color: rgb(255, 255, 255);
}

.tabs .shop {
    float: left;
    width: 323px;
    padding-left: 15px;
    color: rgb(183, 183, 183);
    line-height: 100%;
    cursor: pointer;
}

.tabs .shop .shop_name {
    display: block;
    font: 18px PTSans-Bold, Arial, sans-serif;
    padding-top: 10px;
}

.tabs .shop .shop_description {
    font-size: 13px;
    line-height: 100%;
}

.tab_content {
    width: 670px;
    height: 396px;
    overflow: hidden;
}

.tab_content,
#map {
    width: 670px;
    height: 396px;
    overflow: hidden;
}

.tab_content > div > ymaps {
    width: 100% !important;
    height: 396px !important;
}

.content_2,
.content_3,
.content_4,
.content_5 {
    display: none;
}


.cnst_1558070497164-button {
    display: block;
    text-align: center;
}

.cnst_1558070497164-button-inner {
    background-size: 10px 16px;
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
}

.cnst_1558070497143-button {
    display: block;
    text-align: center;
}

.cnst_1558070497143-button-inner {
    background-size: 10px 16px;
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
}

.cnst_1558070497216-button {
    display: block;
    text-align: center;
}

.cnst_1558070497216-button-inner {
    background-size: 10px 16px;
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
}

.cnst_1558070497107-button {
    display: block;
    text-align: center;
}

.cnst_1558070497107-button-inner {
    background-size: 10px 16px;
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
}

@media screen and (max-width: 1025px) {
    .tab_content {
        width: calc(~'100% - 350px');
    }
}

@media only screen and (min-width: 992px) {
    .gift-certificate__features {
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 45px 20px 0;
        margin-left: 0px;
        margin-right: 0px;
    }
    .gift-certificate__features-item {
        flex-basis: 31.5945%;
        max-width: 31.5945%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .gift-certificate__features-item_wide {
        flex-basis: 65.7972%;
        max-width: 65.7972%;
    }
    .gift-certificate__brands {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }

    .gift-certificate__types {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
    }
    .gift-certificate__types-desc {
        flex-basis: 31.5945%;
        max-width: 31.5945%;
        text-align: right;
    }
    .gift-certificate__nominals {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        flex-basis: 65.7972%;
        max-width: 65.7972%;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .gift-certificate__nominals > li {
        margin-left: 0px;
        margin-right: 0px;
    }

    .gift-certificate__types {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
    }
    .gift-certificate__types-desc {
        flex-basis: 31.5945%;
        max-width: 31.5945%;
        text-align: right;
    }
    .gift-certificate__nominals {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        flex-basis: 65.7972%;
        max-width: 65.7972%;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .gift-certificate__nominals > li {
        margin-left: 0px;
        margin-right: 0px;
    }
    .gift-certificate__types-desc {
        flex-basis: 31.5945%;
        max-width: 31.5945%;
        text-align: right;
    }

    .gift-certificate__docs {
        margin-top: 37px;
    }
    .gift-certificate__download-link {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .gift-certificate__download-link + .gift-certificate__download-link {
        margin-left: 146px;
    }
}

@media screen and (max-width: 1260px) {
    img {
        max-width: 100% !important;
    }
}

@media only screen and (min-width: 1016px) {
    .gift-certificate__brands {
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 480px) {
    .gift-certificate__heading {
        // font-size: 32px;
    }
}