//- ====================
//- Rbz: review-main-content
//- 25-01-2017: Amedomary
//- --------------------
//- Отзывы на главной странице
//- ====================

mixin review-main-content()
    include ../review.pug
    +review({'items': [{
                        'title': 'Интернет покупка',
                        'date': 'Лера, Тула /  15 июля',
                        'content': 'Срочно нужно было приобрести хороший чемодан по соотношению цена-качество. Изначально рассматривала в своем городе, но ничего не устраивало, так как не хотелось платить деньги за некачественный товар. Стала искать на просторах интернета и наткнулась на'
                    }, {
                        'title': 'Консервы',
                        'date': 'Лера, Тула /  15 июля',
                        'content': 'Срочно нужно было приобрести хороший чемодан по соотношению цена-качество. Изначально рассматривала в своем городе, но ничего не устраивало'
                    }, {
                        'title': 'Интернет покупка',
                        'date': 'Лера, Тула /  15 июля',
                        'content': 'Срочно нужно было приобрести хороший чемодан по соотношению цена-качество. Изначально рассматривала в своем городе, но ничего не устраивало, так как не хотелось платить деньги за некачественный товар. Стала искать на просторах интернета и наткнулась на'
                    }, {
                        'title': 'Консервы',
                        'date': 'Лера, Тула /  15 июля',
                        'content': 'Срочно нужно было приобрести хороший чемодан по соотношению цена-качество. Изначально рассматривала в своем городе, но ничего не устраивало'
                    }
                ]})