/* 1440 + */
.b-avatar {
    border-radius: 100%;
    width: 114px;
    height: 114px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    display:inline-block;

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';
    }

    .b-consultation--store & {
        height: 150px;
        width: 150px;
    }
}