/* 768 + */
.b-avatar {
    height: 90px;
    margin-right: 17px;
    width: 90px;

    &--description {
        display: inline-block;
        // height: 115px;
        // width: 115px;

        .b-consultation--stretch & {
            height: 102px;
            margin-right: 24px;
            vertical-align: middle;
            width: 102px;
        }
    }

    .b-consultation--store & {
        height: 150px;
        width: 150px;
    }
}