/* 320 + */
.b-avatar {
    &--description {
        display: inline-block;
        height: 60px;
        width: 60px;
        margin-right: 4px;

        .b-consultation--stretch & {
            display: inline-block;
            height: 60px;
            margin: 0 15px 0 0;
            vertical-align: top;
            width: 60px;
        }

        .b-consultation--p404 & {
            left: 10px;
            position: absolute;
            top: 16px;
        }
    }
}