/* 1440 + */
.b-pin {
    font-size: 36px;
    margin-right: 10px;
    // margin-bottom: 10px;

    &--test {
        color: @cl-main-purple;
    }

    &--red {
        color: @cl-red;
    }

    &--beige {
        color: @cl-beige;
    }

    &--gray {
        color: @cl-middle-gray;
    }

    &--green {
        color: @cl-green;
    }

    &--white {
        color: @cl-white;
    }

    &--yellow {
        color: @cl-yellow;
    }

    &--blue {
       color: @cl-blue; 
    }
}