/* 1440 + */
.b-city-selection {
    position: relative;
    width: 530px;
    border-radius: 2px;
    padding: 40px;
    background-color: @background-header;

    &__form {
        margin-bottom: 30px;
        position: relative;
    }

    &__list {
        padding: 0;
        column-count: 3;
    }

    &__item {
        list-style-type: none;
        font-size: 13px;
        line-height: 1.4;
        margin-bottom: 11px;
    }

    &__autocomplete-wrapper {
        position: absolute;
        top: 45px;
    }
}