@font-face {
    font-family: 'Roboto';
    src: url('../fonts/robotobold.eot');
    src: url('../fonts/robotobold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/robotobold.svg#robotobold') format('svg'),
        url('../fonts/robotobold.woff') format('woff'),
        url('../fonts/robotobold.woff2') format('woff2'),
        url('../fonts/robotobold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/robotoregular.eot');
    src: url('../fonts/robotoregular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/robotoregular.svg#robotoregular') format('svg'),
        url('../fonts/robotoregular.woff') format('woff'),
        url('../fonts/robotoregular.woff2') format('woff2'),
        url('../fonts/robotoregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/robotolight.eot');
    src: url('../fonts/robotolight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/robotolight.svg#robotolight') format('svg'),
        url('../fonts/robotolight.woff') format('woff'),
        url('../fonts/robotolight.woff2') format('woff2'),
        url('../fonts/robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/robotomedium.eot');
    src: url('../fonts/robotomedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/robotomedium.svg#robotomedium') format('svg'),
        url('../fonts/robotomedium.woff') format('woff'),
        url('../fonts/robotomedium.woff2') format('woff2'),
        url('../fonts/robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gotham-pro';
    src: url('../fonts/gotham-pro-black.eot');
    src: url('../fonts/gotham-pro-black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham-pro-black.svg#gotham-pro-black') format('svg'),
        url('../fonts/gotham-pro-black.woff') format('woff'),
        url('../fonts/gotham-pro-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gotham-pro';
    src: url('../fonts/gotham-pro-bold.eot');
    src: url('../fonts/gotham-pro-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham-pro-bold.svg#gotham-pro-bold') format('svg'),
        url('../fonts/gotham-pro-bold.woff') format('woff'),
        url('../fonts/gotham-pro-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gotham-pro';
    src: url('../fonts/gotham-pro.eot');
    src: url('../fonts/gotham-pro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham-pro.svg#gotham-pro') format('svg'),
        url('../fonts/gotham-pro.woff') format('woff'),
        url('../fonts/gotham-pro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.roboto-light {
    font-weight: 300;
    font-display: swap;
}
.roboto-regular {
    font-weight: 400;
    font-display: swap;
}
.roboto-medium {
    font-weight: 500;
    font-display: swap;
}
.roboto-bold {
    font-weight: 700;
    font-display: swap;
}
.gotham-bold {
    font-family: 'gotham-pro';
    font-weight: 700;
    font-display: swap;
}
.gotham-regular {
    font-family: 'gotham-pro';
    font-weight: 400;
    font-display: swap;
}
.gotham-black {
    font-family: 'gotham-pro';
    font-weight: 900;
    font-display: swap;
}