/* 320 + */
.b-action {
    align-items: flex-start;
    margin: 0 0 15px;
    min-height: auto;
    padding: 10px 10px 15px;

    &__image {
        margin: 0 10px 0 0;
        width: 35px;
    }

    &__text {
        font-size: 14px;
        line-height: 18px;
        margin: 10px 0 0;
    }

    &__date {
        font-size: 15px;
        line-height: 16px;
        margin: 0 0 10px;
    }

}