/* 1440 + */
.b-pay {
    padding-top: 7px;

    &__link {
        display: inline-flex;
        vertical-align: top;
        align-items: center;
        max-width: 50px;
        height: 30px;
        margin-bottom: 15px;
        position: relative;

        &:not(:last-child) {
            margin-right: 19px;
        }
    }

    &__icon {
        max-width: 100%;
        max-height: 100%;
    }

    &__service {
        display: inline-block;
        text-decoration: none;
        max-width: 145px;
        height: 35px;
    }
}