/* 320 + */
.b-link {
    &--politic {
        font-size: 12px;
        line-height: 18px;
    }

    &--bottom {
        font-size: 12px;
        line-height: 18px;
    }

    &--comunication {
        line-height: 22px;
        font-size: 12px;
        margin-bottom: 5px;
    }

    &--city {
        .roboto-regular;
        // color: @cl-font-light;
        padding: 0;
        margin-bottom: 10px;
    }

    &--open-filter {
        display: inline-block;
        width: calc(~'50% - 5px');
        padding: 5px 52px 6px 10px;
    }

    &--reset {
        margin-bottom: 20px;
    }

    &--reset-recovery {
        margin: 0;
    }

    &--product-review {
        margin: 0 0 20px 0;
    }

    &--stats {
        & > span {
            display: none;
        }
    }

    &--stores-tab {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 7px;
    }

    &--search-wrap,
    &--search-count {
        display: block;
    }

    &--search-wrap {
        margin: 0;

        &:after {
            display: none;
        }
    }

    &--review {
        font-size: 13px;
        margin-bottom: 20px;
    }

    &--delivery {
        .b-delivery-top--info & {
            margin-bottom: 8px;
        }
    }
    &--shop-hide {
        display: block;
    }
}