/* 768 + */
.b-link {
    &--shop {
        display: inline-block;
        padding-top: 13px;
        padding-bottom: 10px;
    }
    &--shop-hide {
        display: none;
    }
    &--city {
    }

    &--geo {
        display: none;
    }

    &--shop {
        margin: 0;
        padding: 5px;
    }

    &--availibility-show-map {
        display: inline-block;
    }

    &--show-more {
        // display: none;
        // position: absolute;
        // bottom: 0;
        // right: 10px;

        // &.active {
        //     display: inline-block;
        // }
    }

    &--menu-cart {
        .b-menu-cart__item--search & {
            font-size: 13px;
            line-height: 18px;
        }
    }
}