/* 320 + */
.b-button {
    &--mobile-hide {
        display: none;
    }

    &--choice-suitcase {
        width: 100%;
    }

    &--pick-model {
        .b-pick-model--product-item & {
            bottom: 32px;
        }
    }

    &--login-registration {
        font-size: 13px;
        text-transform: none;
        color: @cl-font-light;
        text-align: center;
        border: none;
        padding: 5px;
        margin: 0;
    }

    &--login {
        order: 2;
        width: 100%;
    }

    &--login-recovery {
        width: 100%;
        margin-bottom: 10px;
    }

    &--your-city-yes {
        display: block;
        width: 100%;
        margin: 0 0 10px 0;
    }

    &--your-city-no {
        display: block;
        width: 100%;
        margin: 0;
    }

    &--availibility {
        width: auto;
        display: block;
        margin-left: -30px;
    }

    &--product-review {
        display: block;
    }

    &--in-basket,
    &--in-basket-last {
        display: block;
        margin: 0 auto 10px;
    }

    &--set {
        width: 100%;
    }

    &--promo-code {
        width: 50%;
    }

    &--pick-model {
        .b-pick-model--brand &,
        .b-pick-model--stretch &,
        .b-pick-model--mobile-show & {
            bottom: 13px;
            font-size: 7px;
            padding: 5px;
        }

        .b-pick-model--stretch & {
            bottom: 11px;
        }
    }

    &--store-item {
        width: 149px;
    }

    &--press-article {
        width: 100%;
        margin-bottom: 42px;
    }
    
    &--review-form {
        width: 100%;
    }

    &--fixed-tab-product {
        width: 122px;
        font-size: 13px;
        padding: 12px;
    }

    &--fixed-add-card {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        margin-bottom: 0px;
        border-radius: 0px;
    }

    &--reservation-popup {
        width: 100%;

        .b-recall-popup--reservation &{
            width: 100%;
            margin-bottom: 20px;
        }
    }


    &--filter-accept {
        display: none;
    }
}
