/* 1440 + */
.b-serch-result {
    margin: 0 0 89px;

    &__wrap-filter {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 12px;
    }

    &__wrapper {
        font-size: 13px;
    }
}