/* 768 + */
.b-obtainment {

    &__item {
        width: auto;
        flex: 0 0 auto;
        margin-right: 15px;
    }

    &__figure-img {
        width: 70px;
        height: 70px;
        margin-right: 13px;
    }

    &__figure-description {
        padding-top: 5px;
        width: 150px;
    }

    &__description {
        font-size: 13px;
        line-height: 18px;
        margin: 0;
    }
}