/* 320 + */
.b-popular-brand {
    overflow: hidden;

    &--p404 {
        padding-top: 13px;
    }

    &__link-line {
        width: 100%;
        text-align: left;
        font-size: 12px;
        margin-top: 20px;
    }
}