/* 1440 + */
.b-popular-brand {
    &--p404 {
        margin: 0 0 63px;
        padding-top: 31px;
    }

    &__link-line {
        .roboto-regular;
        font-size: 13px;
        text-align: right;
    }
}