/* 1170 + */
.b-recommended-item {
    width: ~"calc((1140px / 5) + 1px)";

    &--size {
        width: ~"calc(((1140px / 5) * 2) + 1px)";
    }

    &--set {
        width: 230px;
    }

    &--row-list {
        width: 225px;
    }
}