/* 1440 + */
.b-guarantee {
    padding: 47px 0 70px;

    &__column {
        display: inline-block;
    }

    &__wrapper-text {
        width: 50%;
        font-size: 15px;
        line-height: 24px;
        float: left;
        padding-right: 32px;

        p {
            margin: 0 0 24px;
        }
    }
}