/* 768 + */
.b-brand-letter {
    margin: 0 0 16px;
    max-width: none;
    // overflow-x: auto;
    // overflow-y: hidden;
    overflow: hidden;
    white-space: nowrap;

    &__list {
        flex-wrap: nowrap;
    }

    &__link {
        font-size: 18px;
        line-height: 18px;
        padding: 10px 7px;

        &--all {
            margin: 0 6px 0 0;
            padding: 10px 0;
        }
    }
}