/* 1440 + */
.b-brand-slider {
    position: relative;
    height: 125px;
    white-space: nowrap;

    & .slick-list.draggable {
        overflow: hidden;
    }

    &--menu-desktop {
        height: 145px;
        // padding-bottom: 20px;
        // height: auto;
        // overflow: hidden;

        .slick-list.draggable {
            // overflow: visible;
            margin-right: -1px;
            padding-right: 1px;
        }
    }

    &--sale {
        margin-bottom: 70px;
    }
}