/* 320 + */
.b-brand-slider {
    padding: 0 20px 28px;
    height: auto;
    &--sale {
        margin-bottom: 30px;
        padding: 0px 20px 14px;
    }

    &--menu-desktop {
        &.b-slick-dots {
            bottom: 1px;
        }
    }
}