/* 320 + */
.b-menu-mobile {
    overflow-y: auto;
    overflow-y: scroll;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    &__item {
        &--city {
            display: block;
        }

        &--mobile-show {
            display: block;
        }
    }
}