/* 1440 + */
.b-menu-mobile {
    // display: none;
    background-color: @background-header;
    padding: 18px 12px;
    width: calc(~'100vw - 60px');
    height: calc(~"100% - 45px");
    position: absolute;
    left: 0px;
    top: 45px;
    z-index: 100;
    border-top: 1px solid @cl-border-brand-menu-desktop;
    overflow: auto;

    transition-property: transform;
    transition-duration: 0.2s;

    transform: translateX(-100%);

    &.active {
        transform: translateX(0%);
        position: fixed;
    }

    &--next-step {
        top: 0px;
        border-top: none;
        height: 100%;
    }

    &--half-scroll {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        overflow: hidden;
    }

    &__link-account {
        padding-top: 5px;
        padding-bottom: 5px;
        .roboto-bold;
        line-height: 32px;

        &--authorized {
            display: block;
            width: 100%;
            padding: 0;
            position: relative;
        }
    }

    &__item {
        .roboto-regular;
        color: @cl-font-main;
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 20px;
        flex: 0 0 auto;

        &--city {
            margin-bottom: 28px;
        }

        &--account {
            margin-bottom: 6px;
        }

        &--mobile-show {
            display: none;
        }
    }

    &__action {
        display: flex;
        align-items: center;
    }

    &__count {
        font-size: 13px;
        line-height: 15px;
        color: @cl-white;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background: @cl-orange-dark;
        margin-left: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__back-link {
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-block;
    }

    &__close {
        position: absolute;
        top: 16px;
        right: 12px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name-city {
        & .b-link--city {
            margin-bottom: 0;
            & span {
                border-bottom: 1px dashed #333333;
            }
        }
    }

    &__info-place {

        &--shops,
        &--sale {
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            display: flex;
            align-items: center;

            & span {
                margin-left: 3px;
            }
        }

        &--sale {
            color: @cl-orange;
        }

        &--mobile-action {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__actions {
        margin-left: 10px;
    }
}