.b-delivery-list {
    &__item {
        padding: 15px 15px 30px 45px;

        &--not-found {
            padding: 15px 15px 30px 15px;

            .b-button--select {
                width: 100%;
            }
        }
    }

    &__row {
        &--with-button {
            display: block;
        }
    }

    &__color-wrapper {
        display: block;
    }

    &__text {
        &--addres {
            display: block;
            margin: 0 0 5px;
        }
    }
}