/* 768 + */
.b-hr {

    &--tablet-show {
        display: block;
    }

    &--choice-suitcase {
        padding-top: 10px;
        margin-bottom: 15px;
    }

    &--footer {
        display: none;
        margin: 0;
        padding: 0;
    }

    &--cart-state-3 {
        margin-top: 5px;
    }

    &--store-card {
        margin: 0 0 28px;
    }

    &--guarantee {
        padding-top: 25px;
    }

    // &--none { КОМУ ВДРУГ ЭТО ПОНАДОБИТСЯ, ВНАЧАЛЕ СКАЗАТЬ ТАНЕ!!!!
    //     display: none;
    // }

    .b-stores &--none {
        display: none;
    }
}