/* 1440 + */
.b-hr {
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 15px;

    &--none {
        margin: 0;
        padding: 0;
    }

    &--way-get {
        border-bottom-color: #dadada;
    }

    &--mobile-show,
    &--tablet-show {
        display: none;
    }

    &--choice-suitcase {
        padding-top: 7px;
        margin-bottom: 15px;
    }

    &--product-item {
        padding-top: 0;
        margin-bottom: 10px;
        display: none;
    }

    &--footer {
        display: none;
        margin: 0;
        padding: 0;
    }

    &--filter {
        padding-top: 8px;
    }

    &--recall-popup {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }

    &--tag {
        border-color: @hr-popup;
    }

    &--cart {
        padding: 0;
        margin: 0 0 46px 0;
    }

    &--cart-done {
        padding: 0;
        margin-bottom: 30px;
        margin-top: 29px;
    }

    &--cart-state-3 {
        padding: 0;
        margin-top: 45px;
        margin-bottom: 0;
    }

    &--store-card {
        margin: 0 0 24px;
    }

    &--guarantee {
        margin-bottom: 48px;
        padding-top: 50px;
    }

    &--review-page {
        padding: 0;
        margin-bottom: 30px;
    }

    &--delivery {
        margin: 0 0 20px;
        padding: 20px 0 0;
    }
}