/* 1440 + */
.b-product-review {
    // (100% - падинг текста - правая колонка)
    width: ~"calc(100% - 50px - 370px)";

    &__whose-tip {
        flex-grow: 1;
        padding-left: 30px;
        .roboto-regular;
        font-size: 13px;
        line-height: 1.2;
        color: @cl-font-gray;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}